<template>
  <div class="login-ctrl column items-center justify-center">
    <div class="main-top">
      <img
        alt="logo"
        src="~assets/t-message/logo.svg"
      />
    </div>

    <div class="main-bottom">
      <div class="block-title text-center">Create new account</div>
      <q-input
        class="block-input"
        outlined
        v-model="formCreateAccount.email"
        :rules="[(val, rules) => rules.email(val) || $t('valid.email')]"
        label="Email(name@email.com)"
        color="green-6"
      />

      <q-btn
        :disabled="!checkData(formCreateAccount)"
        @click="createEmail"
        class="block-btn"
        >Create new account with email</q-btn
      >

      <div class="divider text-center">
        <span>OR</span>
      </div>

      <q-btn
        @click="signInGoogle"
        class="with-google-web"
        outline
        image
        color="green-6"
      >
        <img
          src="~assets/t-message/logo-google.svg"
          alt="#"
        />
        Continue with Google
      </q-btn>

      <div class="last-elm text-center">
        <span>Already using Tmessage? </span>
        <a
          href="javascript:void(0)"
          @click="$router.push({ name: 'login' })"
          >Sign in to an existing workspace</a
        >
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { checkData } from 'src/helper/global';
import { defineComponent, reactive, toRefs } from 'vue';
import AuthService from 'src/services/auth';
import { bodyLoginSocial, bodyOtp } from 'src/services/auth/model';
import { TYPE_REGISTER } from 'src/constants';
import NotifyServices from 'src/plugins/NotifyServices';
import { signInGoogleWithPopup } from 'src/plugins/firebase';
import { setToken } from 'src/helper/auth';
import { useRouter } from 'vue-router';
import { useWorkspaceStore } from 'stores/workspace';

interface formCreateAccount {
  email: string;
}

export default defineComponent({
  name: 'CreateAccount',
  mixin: ['mixin'],
  setup() {
    const state = reactive<{
      formCreateAccount: formCreateAccount;
    }>({
      formCreateAccount: { email: '' },
    });
    const router = useRouter();
    const workspaceStore = useWorkspaceStore();

    const createEmail = () => {
      const body: bodyOtp = {
        email: state.formCreateAccount.email.trim(),
        type: TYPE_REGISTER,
      };
      AuthService.otp(body)
        .then((res) => {
          if (res) {
            router.push({
              name: 'verify',
              query: {
                ...body,
              },
            });
          }
        })
        .catch((err) => {
          console.log(err);
          NotifyServices.showMessageError(`${err.errorNotify}`);
        });
    };
    const loginSocial = (body: bodyLoginSocial) => {
      AuthService.loginSocial(body)
        .then((res) => {
          console.log(res);
          setToken(JSON.stringify(res));
          workspaceStore.checkWorkspaceWithLogin(router);
        })
        .catch((err) => {
          console.log(err);
        });
    };
    const signInGoogle = () => {
      signInGoogleWithPopup()
        .then((res: any) => {
          loginSocial(res);
        })
        .catch((err) => {
          console.log(err);
        });
    };
    return {
      ...toRefs(state),
      checkData,
      createEmail,
      signInGoogle,
      loginSocial,
    };
  },
  methods: {},
});
</script>

<style scoped lang="scss">
.login-ctrl {
  height: 100vh;
  .main-top {
    padding-bottom: 48px;
  }

  .main-bottom {
    display: flex;
    flex-direction: column;

    .block-title {
      font-size: 38px;
      font-weight: 500;
      line-height: 46px;
      padding-bottom: 32px;
    }

    .block-input {
      margin-bottom: 24px;
      :deep(.q-field__label) {
        font-size: 14px;
      }
    }

    .block-btn {
      background-color: #1c8c44;
      color: #fff;
      border: none;
      height: 48px;
      border-radius: 6px;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }

    .divider {
      position: relative;
      padding: 32px 0;

      &:before {
        content: '';
        width: 100%;
        height: 1px;
        background: #d3d3d3;
        position: absolute;
        top: 50%;
        left: 0;
      }

      span {
        position: relative;
        display: inline-block;
        padding: 0 7px;
        background: #fff;
        font-size: 16px;
        color: #565656;
      }
    }

    .with-google-web {
      display: flex;
      flex-direction: row;
      justify-content: center;
      border: 1px solid #1c8c44;
      border-radius: 6px;
      margin-bottom: 16px;
      height: 54px;
      width: 437px;

      :deep(.q-btn__content) {
        font-size: 16px;
        font-weight: 500;
        color: #565656;
      }

      img {
        padding-right: 15.5px;
        width: 40px;
        height: 40px;
      }
    }

    .last-elm {
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      span {
        color: #565656;
      }
      a {
        text-decoration: none;
        color: #1e89e5;
      }
    }
  }

  .q-btn {
    text-transform: none;
  }
}
</style>
