<template>
  <div
    v-if="fileType.type === 'image'"
    class="card-img relative-position"
  >
    <CAvatar
      size="60px"
      rounded
      :avatar="defaultFiles?.url"
    />
    <q-inner-loading :showing="!defaultFiles?.originalname">
      <q-spinner
        color="primary"
        size="18px"
        :thickness="3"
      />
    </q-inner-loading>
    <div
      v-if="defaultFiles?.originalname"
      class="card-img-remove"
    >
      <q-icon
        class="cursor-pointer"
        size="16px"
        name="bi-x"
        style="color: #fff"
        @click="removeFile"
      />
    </div>
  </div>

  <q-item
    v-else
    class="card-upload"
  >
    <q-item-section avatar>
      <CAvatar
        size="32px"
        rounded
        :avatar="fileType?.img"
      />
    </q-item-section>

    <q-item-section class="card-upload-body">
      <q-item-label class="card-upload-body-name ellipsis">
        {{ defaultFiles?.name || '' }}</q-item-label
      >
      <q-item-label
        class="card-upload-body-type"
        caption
        lines="1"
        >{{ fileType?.type || 'File' }}</q-item-label
      >
    </q-item-section>

    <q-item-section
      side
      class="card-upload-action"
    >
      <q-spinner
        v-if="!defaultFiles?.originalname"
        color="primary"
        size="24px"
        :thickness="4"
      />
      <q-icon
        v-else
        class="cursor-pointer action-remove"
        size="16px"
        name="bi-x"
        style="color: #3c3c3c"
        @click="removeFile"
      />
    </q-item-section>
  </q-item>
</template>

<script lang="ts">
import { defineComponent, watch, ref, computed, reactive, toRefs } from 'vue';
import fileAi from 'src/assets/files/file_ai.svg';
import fileDocs from 'src/assets/files/file_docs.svg';
import fileExcel from 'src/assets/files/file_excel.svg';
import fileOther from 'src/assets/files/file_other.svg';
import filePdf from 'src/assets/files/file_pdf.svg';
import filePs from 'src/assets/files/file_ps.svg';
import fileZip from 'src/assets/files/file_zip.svg';

export default defineComponent({
  name: 'cardFileUpload',
  props: {
    defaultFiles: {
      type: Object,
      default() {
        return null;
      },
    },
  },
  emits: ['removeFile'],
  setup(props, { emit }) {
    const state = reactive<{
      model: any;
    }>({
      model: {},
    });
    const fileType = computed(() => {
      const fileName = props?.defaultFiles?.name;
      console.log(fileName);
      const checkImg = /(.*?)\.(jpg|bmp|jpeg|png)$/;
      const checkZip = /(.*?)\.(zip)$/;
      const checkRar = /(.*?)\.(rar)$/;
      const checkDocx = /(.*?)\.(docm|docx|dot|dotx|doc)$/;
      const checkExcel =
        /(.*?)\.(xlsx|xlsm|xls|xlsb|xltx|xltm|xlt|xml|xlam|xla|xlw|xlr)$/;
      const checkPdf = /(.*?)\.(pdf)$/;
      const checkAi = /(.*?)\.(ai)$/;
      const checkPsd = /(.*?)\.(psd)$/;
      // if (fileName)
      if (fileName.match(checkImg)) {
        return {
          type: 'image',
        };
      }
      if (fileName.match(checkZip)) {
        return {
          type: 'Zip',
          img: fileZip,
        };
      }
      if (fileName.match(checkRar)) {
        return {
          type: 'WinRar',
          img: fileZip,
        };
      }
      if (fileName.match(checkDocx)) {
        return {
          type: 'Word file',
          img: fileDocs,
        };
      }
      if (fileName.match(checkExcel)) {
        return {
          type: 'Excel file',
          img: fileExcel,
        };
      }
      if (fileName.match(checkPdf)) {
        return {
          type: 'Pdf file',
          img: filePdf,
        };
      }

      if (fileName.match(checkAi)) {
        return {
          type: 'Illustrator file',
          img: fileAi,
        };
      }
      if (fileName.match(checkPsd)) {
        return {
          type: 'Photoshop file',
          img: filePs,
        };
      }
      return {
        type: 'File',
        img: fileOther,
      };
    });
    const removeFile = () => {
      emit('removeFile', props.defaultFiles);
    };
    return {
      ...toRefs(state),
      fileType,
      removeFile,
    };
  },
});
</script>

<style scoped lang="scss">
.card-img {
  max-width: 60px;
  height: 60px;
  &-remove {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #00000040;
    i {
      position: absolute;
      right: 0;
      top: 2px;
    }
  }

  .q-inner-loading.absolute-full {
    background: #00000080;
  }

  &:hover {
    .card-img-remove {
      display: block;
    }
  }
}

.card-upload {
  width: 288px;
  padding: 8px 16px;
  height: 58px;
  border: 1px solid #d3d3d3;
  border-radius: 8px;

  .card-upload-action {
    width: 32px;

    .action-remove {
      display: none;
    }
  }

  &:hover {
    border: 1px solid #1c8c44;

    .card-upload-action {
      .action-remove {
        display: block;
      }
    }
  }

  .q-item__section--avatar {
    padding-right: 8px;
    min-width: auto;
  }

  &-body {
    padding-left: 8px;
    width: calc(100% - 70px);

    &-name {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #2f2f2f;
    }

    &-type {
      margin-top: 0;
      font-size: 14px;
      line-height: 20px;
      color: #878b87;
    }
  }

  &-action {
    padding: 0;
  }
}
</style>
