<template>
  <CModal
    v-model="IsShowModal"
    classModal="modal-invite"
    @close="closeModal"
    :title="$t('workspace.channel.createChannel')"
  >
    <div class="modal-invite-body">
      <c-text-field
        v-model="name"
        class="pb-2"
        :label="$t('workspace.channel.name')"
        :error-message="errorName"
      />
      <c-text-area
        v-model="description"
        class="pb-2"
        :label="$t('workspace.channel.description')"
        max-length="250"
      />
      <q-item
        :clickable="false"
        :focused="false"
      >
        <q-item-section>
          <q-item-label>{{ $t('workspace.channel.makePrivate') }}</q-item-label>
        </q-item-section>
        <q-item-section avatar>
          <q-toggle
            size="48px"
            color="primary"
            v-model="isPrivate"
          />
        </q-item-section>
      </q-item>
    </div>
    <template #footer>
      <c-btn
        color="primary"
        size="large"
        :label="$t('workspace.channel.create')"
        :loading="loading"
        :disabled="!name"
        @click="createChannel"
      />
    </template>
  </CModal>
</template>

<script lang="ts">
import { defineComponent, computed, ref, reactive, toRefs, watch } from 'vue';
import { useChannelStore } from 'stores/channel';
import { useRoute } from 'vue-router';
import CModal from 'components/common/CModal.vue';
import { useI18n } from 'vue-i18n';
import ChannelService from 'src/services/channel';
import NotifyServices from 'src/plugins/NotifyServices';
import { bodyChannel } from 'src/services/channel/model';
export default defineComponent({
  name: 'modalCreateChannel',
  components: { CModal },
  setup() {
    const state = reactive<{
      name: string;
      description?: string;
      isPrivate: boolean;
      errorName: string;
      loading: boolean;
    }>({
      name: '',
      description: '',
      isPrivate: true,
      errorName: '',
      loading: false,
    });
    const route = useRoute();
    const { t } = useI18n();
    const refSelected = ref();
    const channelStore = useChannelStore();

    const IsShowModal = computed(() => {
      return channelStore.IsShowModal;
    });
    const resetData = () => {
      state.name = '';
      state.description = '';
      state.isPrivate = true;
      state.errorName = '';
      state.loading = false;
    };

    watch(IsShowModal, () => {
      resetData();
    });
    const createChannel = () => {
      const body: bodyChannel = {
        name: state.name,
        description: state.description,
        is_private: state.isPrivate,
        workspace_id: Number(route.params.workspaceId),
      };
      ChannelService.createChannel(body)
        .then((res: any) => {
          if (res?.status_code === 200) {
            NotifyServices.showMessageSuccess(t('workspace.notify.createChannel'));
            channelStore.createChannel(res.data);
            closeModal();
          } else {
            NotifyServices.showMessageError(res?.errors.message);
          }
        })
        .catch((err) => {
          console.log(err);
          NotifyServices.showMessageError(err?.message);
        });
    };

    const closeModal = () => {
      channelStore.showModalAddChannel(false);
    };
    return {
      ...toRefs(state),
      refSelected,
      IsShowModal,
      closeModal,
      createChannel,
    };
  },
});
</script>

<style scoped lang="scss">
:deep(.q-item) {
  padding: 0 !important;
  &:hover {
    .q-focus-helper {
      opacity: 0 !important;
    }
  }
  .q-toggle__inner {
    //padding-right: 0;
  }
}
</style>
