<template>
  <CModal
    v-bind="$attrs"
    :title="$t('#Channel1')"
    classModal="modal-edit"
    alignFooter="left"
  >
    <div>
      <q-tabs
        v-model="tab"
        dense
        indicator-color="primary"
        align="justify"
        narrow-indicator
      >
        <q-tab
          name="about"
          label="About"
          class="test"
        />
        <q-tab
          name="member"
          label="Member"
        />
      </q-tabs>
    </div>
    <template #footer>
      <q-tab-panels
        v-model="tab"
        animated
        class="tabs-edit"
      >
        <q-tab-panel name="about">
          <q-item>
            <q-item-section>
              <q-item-label class="text-label">Channel name</q-item-label>
              <q-item-label
                caption
                lines="2"
                class="text-value-channel"
                ># Channel 1</q-item-label
              >
            </q-item-section>

            <q-item-section
              side
              top
            >
              <q-item-label
                class="text-edit"
                caption
                >Edit</q-item-label
              >
            </q-item-section>
          </q-item>
          <div class="position-item">
            <q-list>
              <q-item>
                <q-item-section>
                  <q-item-label class="text-label">Channel name</q-item-label>
                  <q-item-label
                    caption
                    lines="2"
                    class="text-value-channel"
                    ># Channel 1</q-item-label
                  >
                </q-item-section>

                <q-item-section
                  side
                  top
                >
                  <q-item-label
                    class="text-edit"
                    caption
                    >Edit</q-item-label
                  >
                </q-item-section>
              </q-item>
              <q-separator
                spaced
                inset
              />
              <q-item>
                <q-item-section>
                  <q-item-label class="text-label">Channel name</q-item-label>
                  <q-item-label
                    caption
                    lines="2"
                    class="text-value-channel"
                    ># Channel 1</q-item-label
                  >
                </q-item-section>

                <q-item-section
                  side
                  top
                >
                  <q-item-label
                    class="text-edit"
                    caption
                    >Edit</q-item-label
                  >
                </q-item-section>
              </q-item>
              <q-separator
                spaced
                inset
              />
              <q-item>
                <q-item-section>
                  <q-item-label class="text-label">Channel name</q-item-label>
                  <q-item-label
                    caption
                    lines="2"
                    class="text-value-channel"
                    ># Channel 1</q-item-label
                  >
                </q-item-section>

                <q-item-section
                  side
                  top
                >
                  <q-item-label
                    class="text-edit"
                    caption
                    >Edit</q-item-label
                  >
                </q-item-section>
              </q-item>
            </q-list>
            <q-list>
              <q-item>
                <q-item-section>
                  <q-item-label>Single line item</q-item-label>
                  <q-item-label
                    caption
                    lines="2"
                    >Secondary line text. Lorem ipsum dolor sit amet, consectetur
                    adipiscit elit.</q-item-label
                  >
                </q-item-section>

                <q-item-section
                  side
                  top
                >
                  <q-item-label caption>5 min ago</q-item-label>
                  <q-icon
                    name="star"
                    color="yellow"
                  ></q-icon>
                </q-item-section>
              </q-item>

              <q-separator
                spaced
                inset
              ></q-separator>

              <q-item>
                <q-item-section>
                  <q-item-label>Single line item</q-item-label>
                  <q-item-label caption
                    >Secondary line text. Lorem ipsum dolor sit amet, consectetur
                    adipiscit elit.</q-item-label
                  >
                </q-item-section>

                <q-item-section
                  side
                  top
                >
                  <q-item-label caption>Voted!</q-item-label>
                </q-item-section>
              </q-item>

              <q-separator
                spaced
                inset
              ></q-separator>

              <q-item>
                <q-item-section>
                  <q-item-label>Single line item</q-item-label>
                  <q-item-label caption
                    >Secondary line text. Lorem ipsum dolor sit amet, consectetur
                    adipiscit elit.</q-item-label
                  >
                </q-item-section>

                <q-item-section
                  side
                  top
                >
                  <q-badge
                    color="teal"
                    label="10k"
                  ></q-badge>
                </q-item-section>
              </q-item>

              <q-separator
                spaced
                inset
              ></q-separator>

              <q-item>
                <q-item-section>
                  <q-item-label>Single line item</q-item-label>
                  <q-item-label caption
                    >Secondary line text. Lorem ipsum dolor sit amet, consectetur
                    adipiscit elit.</q-item-label
                  >
                </q-item-section>

                <q-item-section
                  side
                  top
                >
                  <q-item-label caption>2 min ago</q-item-label>
                  <div class="text-orange">
                    <q-icon name="star"></q-icon>
                    <q-icon name="star"></q-icon>
                    <q-icon name="star"></q-icon>
                  </div>
                </q-item-section>
              </q-item>

              <q-separator
                spaced
                inset
              ></q-separator>

              <q-item>
                <q-item-section>
                  <q-item-label>Single line item</q-item-label>
                  <q-item-label caption
                    >Secondary line text. Lorem ipsum dolor sit amet, consectetur
                    adipiscit elit.</q-item-label
                  >
                </q-item-section>

                <q-item-section
                  side
                  top
                >
                  <q-item-label caption>meta</q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </div>
        </q-tab-panel>

        <q-tab-panel name="member">
          <div class="text-h6">Alarms</div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </q-tab-panel>
      </q-tab-panels>
    </template>
  </CModal>
</template>

<script lang="ts">
import { defineComponent, reactive, ref, computed, watch, toRefs } from 'vue';
import CModal from 'components/common/CModal.vue';
export default defineComponent({
  components: { CModal },

  setup(props, { emit }) {
    const show = ref(false);
    const state = reactive<{
      show: boolean;
      tab: string;
    }>({
      show: false,
      tab: 'about',
    });
    return {
      ...toRefs(state),
    };
  },
});
</script>

<style lang="scss" scoped>
.tabs-edit {
  width: 100%;
  border-radius: 16px;
  .text-label {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #2f2f2f;
  }
  .text-value-channel {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #2f2f2f;
  }
  .text-edit {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #1c8c44;
  }
  .position-item {
    margin-top: 24px;
  }
}
</style>
