<template>
  <div class="list-ctrl column items-center justify-center">
    <div class="list-logo">
      <img
        alt="logo"
        src="~assets/t-message/logo.svg"
      />
    </div>

    <div class="list-top items-center">
      <div class="list-title text-center">
        <span>Welcome back!</span>
        Stay hydrated!
      </div>
      <div class="list-desc">
        Chosse a worksapce below to get back to workring wwith your team.
      </div>
    </div>

    <ListRoom class="list-room" />

    <div class="list-bottom row items-center">
      <img
        src="~assets/t-message/archery.svg"
        alt=""
      />
      <div class="list-bottom__desc">
        Want to use TMessage with different team?
        <a
          href="javascript:void(0)"
          @click="$router.push({ name: 'create-workspace' })"
          >Create another workspace</a
        >
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import ListRoom from 'src/components/general/ListRoom.vue';

export default defineComponent({
  name: 'ListWorkSpace',
  components: {
    ListRoom,
  },
  setup() {
    return {
      ListRoom,
    };
  },
});
</script>

<style scoped lang="scss">
.list-ctrl {
  height: 100vh;

  .list-logo {
    padding-bottom: 48px;
  }
  .list-top {
    display: flex;
    flex-direction: column;

    .list-title {
      font-size: 38px;
      font-weight: 500;
      line-height: 46px;
      color: #2f2f2f;

      span {
        color: #1c8c44;
      }
    }

    .list-desc {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #878b87;
      padding-bottom: 31px;
    }
  }

  .list-room {
    :deep(.q-list) {
      width: 672px;
      .q-item {
        width: 672px;
      }
    }
  }

  .list-bottom {
    padding-top: 8px;
    img {
      width: 32px;
      height: 32px;
      margin-right: 8px;
    }
    .list-bottom__desc {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #565656;

      a {
        color: #1e89e5;
        text-decoration: none;
      }
    }
  }
}
</style>
