<template>
  <q-menu
    class="menu-workspace"
    :offset="[0, 8]"
  >
    <q-list>
      <q-item class="list-item-info">
        <q-item-section
          avatar
          top
        >
          <q-avatar
            v-if="detailWorkspace?.thumbnail?.url"
            size="48px"
          >
            <img :src="detailWorkspace?.thumbnail?.url" />
          </q-avatar>
          <q-avatar
            v-else
            size="48px"
            color="purple-1"
            text-color="white"
          >
            <span class="text-uppercase">{{
              detailWorkspace?.name.split('')[0] || ''
            }}</span>
          </q-avatar>
        </q-item-section>

        <q-item-section>
          <q-item-label lines="1">{{ detailWorkspace.name }}</q-item-label>
          <q-item-label caption>
            {{ `${detailWorkspace.alias}.${host}` }}
          </q-item-label>
        </q-item-section>
      </q-item>
      <q-separator color="#E9EAE8" />
      <q-item class="text-center list-item-price">
        <q-item-section>
          <q-item-label>
            <q-icon
              style="margin-right: 8px; margin-bottom: 3px"
              name="bi-database-check"
              size="16px"
            />
            Your total used storage
          </q-item-label>
          <q-item-label caption>20 GB</q-item-label>
        </q-item-section>
      </q-item>
      <q-separator color="#E9EAE8" />
      <template
        v-for="(menuItem, index) in menu"
        :key="index"
      >
        <q-item
          class="list-item-action"
          clickable
          active-class="active-item"
          v-ripple
          @click="menuItem.action"
        >
          <q-item-section>
            {{ menuItem.title }}
          </q-item-section>
        </q-item>
        <q-separator
          v-if="menuItem.separator"
          color="#E9EAE8"
          :key="index"
        />
      </template>
    </q-list>
  </q-menu>
</template>

<script lang="ts">
import { computed, defineComponent, reactive, toRefs } from 'vue';
import { useWorkspaceStore } from 'stores/workspace';
import { useI18n } from 'vue-i18n';
import { useRouter, useRoute } from 'vue-router';
import { useChannelStore } from 'stores/channel';

export default defineComponent({
  name: 'menuInfoWorkspace',

  setup() {
    const workspaceStore = useWorkspaceStore();
    const detailWorkspace = computed(() => {
      return workspaceStore.detailWorkspace;
    });
    const channelStore = useChannelStore();

    const { t } = useI18n();
    const router = useRouter();
    const route = useRoute();
    const host = computed(() => {
      return window.location.host;
    });
    const invitePeople = () => {
      workspaceStore.showModalInvite(true);
    };
    const createChannel = () => {
      channelStore.showModalAddChannel(true);
    };
    const payment = () => {
      console.log('payment');
    };
    const preferences = () => {
      console.log('preferences');
    };
    const admin = () => {
      console.log('admin');
    };
    const addWorkspace = () => {
      router.push({
        name: 'create-workspace',
      });
    };

    const switchWorkspace = () => {
      router.push({
        name: 'list-workspace',
      });
    };
    const signOutWorkspace = () => {
      router.push({
        name: 'home-workspace',
      });
    };
    const state = reactive<{
      menu: any;
    }>({
      menu: [
        {
          title: t('workspace.menuDetail.invitePeople'),
          action: () => invitePeople(),
        },
        {
          title: t('workspace.menuDetail.createChannel'),
          action: () => createChannel(),
          separator: true,
        },
        {
          title: t('workspace.menuDetail.payment'),
          action: () => payment(),
        },
        {
          title: t('workspace.menuDetail.preferences'),
          action: () => preferences(),
        },
        {
          title: t('workspace.menuDetail.admin'),
          action: () => admin(),
          separator: true,
        },
        {
          title: t('workspace.menuDetail.addWorkspace'),
          action: () => addWorkspace(),
        },
        {
          title: t('workspace.menuDetail.switchWorkspace'),
          action: () => switchWorkspace(),
          separator: true,
        },
        {
          title: t('workspace.menuDetail.signOutWorkspace'),
          action: () => signOutWorkspace(),
        },
      ],
    });

    return {
      ...toRefs(state),
      detailWorkspace,
      host,
    };
  },
});
</script>

<!--<style lang="scss" scoped>-->

<!--</style>-->
