<template>
  <div>
    <HeaderFilter class="block-filter" />
  </div>
</template>
<script lang="ts">
import { defineComponent, reactive, toRefs, ref } from 'vue';
import HeaderFilter from 'src/components/general/HeaderFilter.vue';

interface formChannel {
  statusBackground: string;
  radio: string;
  date: Date;
  content: string;
  due: Due;
  priority: string;
  attachment: string;
  markDone: number;
  comment: number;
}

interface Due {
  status: string;
  date: number | string;
}

interface Date {
  status: string;
  time: number | string;
}

interface typeclassCard {
  success: string;
  warning: string;
  disable: string;
}

export default defineComponent({
  name: 'ChannelFile',

  components: {
    HeaderFilter,
  },

  setup() {
    const state = reactive<{
      formChannelInfo: formChannel;
      classCard: typeclassCard;
    }>({
      formChannelInfo: {
        statusBackground: 'success',
        radio: '',
        // status của date sẽ dựa vào dữ liệu trả ra là sent( ngày gửi) || received( ngày nhận )
        date: { status: 'sent', time: '18:00, Feb 23th 2023' },
        content:
          'Create marketing planner in May and start our projects in August 28th, content is only limit 1 line, if long text we will',
        // dựa vào số ngày quy ước khi trả dữ liệu ra, để hiển thị ra card ra due(thời hạn) || overdue(hết hạn)
        due: { status: 'due', date: 13 },
        priority: 'High',
        attachment:
          'Marketing Planner version 2.docx ; Image1234.png ; Image 56892.jpeg, Design App for May.ai; Design App if long text we willl',
        markDone: 12,
        comment: 23,
      },
      classCard: {
        success: 'card-success',
        warning: 'card-warning',
        disable: 'card-disable',
      },
    });

    return {
      ...toRefs(state),
      shape: ref('line'),
    };
  },
});
</script>

<style lang="scss" scoped>
.block-filter {
  border-bottom: 1px solid #d3d3d3;
}
</style>
