<template>
  <q-layout
    view="hHh lpR fFf"
    class="bg-grey-1"
  >
    <q-drawer
      v-model="rightDrawerOpen"
      show-if-above
      bordered
      class="bg-grey-2"
      :width="351"
    >
      <div class="title flex justify-between items-center">
        <span class="title-text">Profile</span>
        <i class="bi bi-x-lg"></i>
      </div>

      <div class="information">
        <div class="information-top">
          <div class="information-avatar flex justify-center">
            <img
              src="~assets/t-message/peopleimage.svg"
              alt=""
            />
          </div>
          <div class="information-name">
            <div class="information-fullname flex justify-between items-center">
              <span class="information-fullname__name">Anna Smith (you)</span>
              <span class="information-fullname__edit">Edit</span>
            </div>
            <div class="information-role">
              <i class="bi bi-plus"></i>
              <span>Add your role</span>
            </div>
            <q-separator class="q-mt-lg q-mb-lg" />
          </div>
        </div>
      </div>

      <div class="contact">
        <div class="contact-top flex justify-between items-center">
          <span class="contact-title">Contact Information</span>
          <span class="contact-edit">Edit</span>
        </div>
        <div class="contact-email flex items-center">
          <div class="email-left"><i class="bi bi-envelope"></i></div>
          <div class="email-right column">
            <span class="email-title">Email address</span>
            <span class="email-address">vutientoan24122001@mail.com</span>
          </div>
        </div>
      </div>

      <div class="phone">
        <div class="phone-desc flex items-center">
          <div class="desc-left"><i class="bi bi-envelope"></i></div>
          <div class="desc-right column">
            <span class="desc-title">Phone</span>
            <span class="desc-address">
              <i class="bi bi-plus"></i>
              Add phone
            </span>
          </div>
        </div>
      </div>
    </q-drawer>
  </q-layout>
</template>

<script>
import { ref } from 'vue';
export default {
  name: 'EditPeople',
  setup() {
    const rightDrawerOpen = ref(false);
    function toggleRighttDrawer() {
      rightDrawerOpen.value = !rightDrawerOpen.value;
    }
    return {
      rightDrawerOpen,
      toggleRighttDrawer,
    };
  },
};
</script>

<style lang="scss">
.title {
  padding: 4px 16px;
  span {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
  }
  i {
    font-size: 24px;
    // height: 16px;
    color: #565656;
  }
}

.information {
  padding-top: 36px;
  .information-top {
    .information-avatar {
      img {
        width: 160px;
        height: 160px;
      }
    }
  }

  .information-name {
    .information-fullname {
      padding: 6px 24px 0 24px;
      .information-fullname__name {
        color: #2f2f2f;
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;
      }
      .information-fullname__edit {
        color: #1c8c44;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
      }
    }

    .information-role {
      color: #1c8c44;
      padding: 6px 0 8px 24px;
      i {
        padding-left: 8px;
        font-size: 16px;
      }
      span {
        padding: 8px 8px 8px 6px;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}

.contact {
  padding-top: 8px;

  .contact-top {
    padding: 0 24px 16px 24px;

    .contact-title {
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
    }
    .contact-edit {
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      color: #1c8c44;
    }
  }

  .contact-email {
    padding: 16px 24px 0;
    .email-left {
      padding-right: 8px;

      i {
        font-size: 14px;
        padding: 10px 11px;
        background: #ffffff;
        border-radius: 50%;
      }
    }

    .email-right {
      font-size: 14px;
      font-weight: 400;
      .email-title {
        color: #565656;
      }

      .email-address {
        color: #1c8c44;
        padding: 8px;
      }
    }
  }
}

.phone {
  padding: 16px 24px 0;
  .desc-left {
    padding-right: 8px;

    i {
      font-size: 14px;
      padding: 10px 11px;
      background: #ffffff;
      border-radius: 50%;
    }
  }

  .desc-right {
    font-size: 14px;
    font-weight: 400;
    .desc-title {
      color: #565656;
    }

    .desc-address {
      color: #1c8c44;
      padding: 8px;
    }
  }
}
</style>
