<template>
  <div class="header-filter flex justify-center items-center justify-between">
    <div class="filter-left">#Channel</div>
    <div class="filter-right flex justify-center items-center justify-between">
      <div class="filter-icon">
        <q-btn-dropdown
          label="Filter"
          dropdown-icon="bi-funnel"
        >
          <q-list>
            <div class="card-title">
              <span>Status</span>
              <i class="bi bi-chevron-down"></i>
            </div>
            <q-item
              clickable
              v-close-popup
              @click="onItemClick"
            >
              <q-item-section>
                <q-checkbox
                  v-model="check1"
                  label="Photos"
                ></q-checkbox>
                <q-checkbox
                  color=""
                  v-model="check2"
                  label="Indue"
                ></q-checkbox>
                <q-checkbox
                  v-model="check3"
                  label="Done"
                ></q-checkbox>
              </q-item-section>
            </q-item>

            <q-separator inset></q-separator>

            <div class="card-title">
              <span>Priority</span>
              <i class="bi bi-chevron-down"></i>
            </div>
            <q-item
              clickable
              v-close-popup
              @click="onItemClick"
            >
              <q-item-section>
                <q-checkbox
                  v-model="check4"
                  label="High"
                ></q-checkbox>
                <q-checkbox
                  color=""
                  v-model="check5"
                  label="Medium"
                ></q-checkbox>
                <q-checkbox
                  color=""
                  v-model="check6"
                  label="Low"
                ></q-checkbox>
              </q-item-section>
            </q-item>

            <q-separator inset></q-separator>

            <div class="card-title">
              <span>Flag</span>
              <i class="bi bi-chevron-down"></i>
            </div>
            <q-item
              clickable
              v-close-popup
              @click="onItemClick"
            >
              <q-item-section>
                <q-checkbox
                  v-model="check7"
                  label="Flag set"
                ></q-checkbox>
              </q-item-section>
            </q-item>

            <q-card class="my-card">
              <q-card-actions align="around">
                <q-btn flat>Reset</q-btn>
                <c-btn
                  label="Apply"
                  color="primary"
                  size="small"
                />
              </q-card-actions>
            </q-card>
          </q-list>
        </q-btn-dropdown>
      </div>
      <div class="filter-select">
        <i class="bi bi-ui-checks-grid"></i>
        <span>Select</span>
      </div>
      <div class="filter-people">
        <q-item-section>
          <q-item-label
            caption
            class="overlapping"
          >
            <template v-for="(_item, index) in number">
              <q-avatar
                v-if="index < 10"
                :key="index"
                size="32px"
                :style="`left: ${index * -8}px`"
              >
                <img :src="`https://cdn.quasar.dev/img/avatar1.jpg`" />
              </q-avatar>
              <q-avatar
                v-if="index === 10"
                :key="index"
                size="32px"
                color="purple-1"
                text-color="white"
                :style="`left: ${index * -8}px`"
              >
                +{{ number - 10 }}
              </q-avatar>
            </template>
          </q-item-label>
        </q-item-section>
      </div>
      <div class="add-people items-center">
        <c-btn
          label="Add people"
          color="primary"
          outline
          icon="bi-person-add"
          size="small"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, computed, ref } from 'vue';
import { useWorkspaceStore } from 'stores/workspace';
import { useRouter } from 'vue-router';

export default defineComponent({
  name: 'HeaderFilter',
  setup() {
    const workspaceStore = useWorkspaceStore();
    const number = ref(5);
    const router = useRouter();

    const getAllWorkspace = computed(() => {
      return workspaceStore.getListWorkspace;
    });

    const getWorkspace = () => {
      console.log(getAllWorkspace);
      if (!getAllWorkspace.value?.length) {
        workspaceStore.getAllWorkspace();
      }
    };
    getWorkspace();
    const joinWorkspace = (id: string) => {
      router.push({
        name: 'workspace',
        params: {
          workspaceId: id,
        },
      });
    };
    return {
      getAllWorkspace,
      joinWorkspace,
      number,
      check1: ref(true),
      check2: ref(true),
      check3: ref(true),
      check4: ref(true),
      check5: ref(true),
      check6: ref(true),
      check7: ref(true),
      check8: ref(true),
      check9: ref(true),
    };
  },
});
</script>

<style lang="scss" scoped>
.header-filter {
  width: 100%;
  padding: 12px 32px;
  .filter-left {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #2f2f2f;
  }

  .filter-right {
    .filter-icon {
      :deep(.q-icon) {
        margin-right: 7.5px;
        font-size: 14px;
        top: -1px;
      }
      :deep(span) {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #565656;
        text-transform: none;
      }

      .q-btn__content {
      }
    }
    .filter-select {
      padding: 0 24px 0 8px;
      i {
        width: 13px;
        height: 14px;
      }

      span {
        margin-left: 6px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #565656;
      }
    }
    .filter-people {
      .overlapping {
      }
    }

    .add-people {
      :deep(.q-icon) {
        margin-right: 7.5px;
        font-size: 14px;
        top: -1px;
      }
    }
  }
}

.q-list {
  width: 240px;
  // height: 437px;

  .card-title {
    display: flex;
    justify-content: space-between;
    padding: 16px 16px 11px;
    span {
      color: #2f2f2f;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }
    i {
      font-size: 16px;
    }
  }

  .q-item {
    padding: 0 8px;

    :deep(.q-focus-helper) {
      background-color: #fff !important;
    }

    .q-checkbox {
      height: 20px;
      margin-bottom: 11px;
    }
  }

  hr {
    margin-top: 5px;
  }

  .q-card {
    box-shadow: none;

    .q-card__actions {
      justify-content: space-between;
      margin: 0 16px;
    }

    .q-btn {
      padding: 0 16px;

      :deep(.q-btn__content) {
        font-size: 14px;
        font-weight: 500;
        text-transform: none;
        line-height: 20px;
      }
    }
  }
}
</style>
