<template>
  <div class="list-workspace">
    <q-list
      bordered
      separator
      class="rounded-borders"
      style="max-width: 906px"
    >
      <q-item-label
        class="list-header"
        header
      >
        Workspace for
        <strong>{{ infoUser?.email || '' }}</strong>
      </q-item-label>

      <q-item
        v-for="item in getAllWorkspace"
        :key="item.id"
        class="list-item"
      >
        <q-item-section
          avatar
          top
        >
          <q-avatar v-if="item?.thumbnail?.url">
            <img :src="item?.thumbnail?.url" />
          </q-avatar>
          <q-avatar
            v-else
            size="56px"
            color="purple-1"
            text-color="white"
          >
            <span class="text-uppercase">{{ item.name.split('')[0] }}</span>
          </q-avatar>
        </q-item-section>

        <q-item-section>
          <q-item-label lines="1">{{ item.name }}</q-item-label>
          <q-item-label
            caption
            class="overlapping"
          >
            <template v-for="(member, index) in item.members">
              <CAvatar
                v-if="index < 10"
                :key="index"
                size="24px"
                :avatar="member?.avatar"
                :text="member?.email.split('')[0] || ''"
                :style="`left: ${index * -8}px`"
              />
              <q-avatar
                v-if="index === 10"
                :key="index"
                size="24px"
                color="purple-1"
                text-color="white"
                :style="`left: ${index * -8}px`"
              >
                +{{ item.members.length - 10 }}
              </q-avatar>
              <div
                v-if="index === item.members.length - 1"
                :key="index"
                :style="`left: ${(item.members.length > 10 ? 9 : index - 1) * -8}px`"
                class="count-member"
              >
                {{ item.members.length }} people
              </div>
            </template>
          </q-item-label>
        </q-item-section>

        <q-item-section side>
          <q-btn
            outline
            label="Join workspace"
            @click="joinWorkspace(item.id)"
          />
        </q-item-section>
      </q-item>
    </q-list>
  </div>
</template>

<script lang="ts">
import { defineComponent, computed, ref } from 'vue';
import { useMainStore } from 'stores/main';
import { useWorkspaceStore } from 'stores/workspace';
import { useRouter } from 'vue-router';

export default defineComponent({
  name: 'ListWorkSpace',
  setup() {
    const mainStore = useMainStore();
    const workspaceStore = useWorkspaceStore();
    const number = ref(5);
    const router = useRouter();
    const infoUser = computed(() => {
      return mainStore.getUser;
    });

    const getAllWorkspace = computed(() => {
      return workspaceStore.getListWorkspace;
    });

    const getWorkspace = () => {
      console.log(getAllWorkspace);
      workspaceStore.getAllWorkspace();
    };
    getWorkspace();
    const joinWorkspace = (id: string) => {
      router.push({
        name: 'workspace',
        params: {
          workspaceId: id,
        },
      });
    };
    return {
      infoUser,
      getAllWorkspace,
      joinWorkspace,
      number,
    };
  },
});
</script>

<style lang="scss" scoped>
.list-workspace {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 16px;

  .open-list {
    padding: 16px 0 46px;
    font-size: 20px;
    font-weight: 500;
  }

  .list-header {
    font-size: 16px;
    color: #2f2f2f;
    font-weight: 400;
    height: 56px;
    background: #f8f8f8;

    strong {
      font-weight: 500;
    }
  }

  .q-list {
    .q-item {
      width: 906px;
      padding: 20px 16px;

      &:hover {
        background: #e7f6e9;

        .q-btn {
          background: #fff !important;
        }
      }

      img {
        object-fit: cover;
      }

      :deep(.q-item__section) {
        width: auto;
        height: 56px;
      }

      .q-item__label {
        font-size: 16px;
        font-weight: 500;
      }

      .q-item__section--side > .q-avatar {
        font-size: 56px;
      }

      .q-btn {
        color: #1c8c44;
        text-transform: none;
        padding: 0;
        width: 120px;

        span {
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          padding: 10.5px 6px;
        }
      }

      .overlapping {
        //padding-left: 8px;
        .count-member {
          color: #878b87;
          font-weight: 400;
          font-size: 14px;
          position: relative;
          display: inline-block;
          //right: 60px;
        }
      }
    }
  }
}
</style>
