<template>
  <q-menu
    touch-position
    context-menu
    style="padding: 12px 8px; box-shadow: 0 2px 8px rgb(0 0 0 / 8%)"
  >
    <q-list
      dense
      style="min-width: 200px"
      v-for="(menuItem, index) in menu"
      :key="index"
    >
      <q-item
        clickable
        v-close-popup
        @click="menuItem.action"
      >
        <q-item-section>
          <i :class="[menuItem.icon]"></i>
          <span>{{ menuItem.title }}</span>
        </q-item-section>
      </q-item>
    </q-list>
  </q-menu>
</template>

<script lang="ts">
import { defineComponent, toRefs, reactive } from 'vue';

export default defineComponent({
  name: 'menuClick',

  setup() {
    const setFlag = () => {
      console.log('setFlag');
    };
    const forwardTask = () => {
      console.log('forwardTask');
    };
    const editTask = () => {
      console.log('editTask');
    };
    const cancelTask = () => {
      console.log('cancelTask');
    };
    const deleteTask = () => {
      console.log('deleteTask');
    };

    const state = reactive<{
      menu: any;
    }>({
      menu: [
        {
          id: 1,
          icon: 'bi-flag',
          title: 'Set flag',
          action: () => setFlag(),
        },
        {
          id: 2,
          icon: 'bi-forward',
          title: 'Forward task',
          action: () => forwardTask(),
        },
        {
          id: 3,
          icon: 'bi-pencil-square',
          title: 'Edit task',
          action: () => editTask(),
        },
        {
          id: 4,
          icon: 'bi-x-circle',
          title: 'Mark cancel task',
          action: () => cancelTask(),
        },
        {
          id: 5,
          icon: 'bi-trash3',
          title: 'Delete task',
          action: () => deleteTask(),
        },
      ],
    });

    return {
      ...toRefs(state),
    };
  },
});
</script>

<style lang="scss" scoped>
.q-list {
  padding: 4px 0;
  .q-item {
    padding: 4px 16px 4px;

    .q-item__section {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      font-size: 16px;
      i {
      }
      span {
        font-weight: 400;
        line-height: 24px;
        padding: 8px 16px 8px 11px;
      }
    }
  }

  .q-item:hover {
    background: #e7f6e9;
    border-radius: 8px;
    :deep(.q-focus-helper) {
      background-color: #e7f6e9;
    }
    span {
      font-weight: 500;
      color: #1c8c44;
    }
  }
}
</style>
