<template>
  <div>
    <q-table
      :style="cssStyle"
      :class="rows.length === 0 ? 'table-no-data' : ''"
      grid
      :card-container-class="cardContainerClass"
      :rows="rows"
      :columns="columns"
      row-key="name"
      :filter="filter"
      v-model:pagination="pagination"
      :loading="loading"
      hide-header
    >
      <template v-slot:item="props">
        <div
          class="table-people q-pa-xs col-xs-12 col-sm-6 col-md-4"
          @click="rightDrawerOpen = !rightDrawerOpen"
        >
          <q-card class="row items-center">
            <div class="table-people__img flex">
              <CAvatar
                size="72px"
                :avatar="props.row.avatar"
                :text="props.row.name.split('')[0] || ''"
              />
            </div>
            <q-card-section>
              <div class="table-people__name ellipsis">
                {{ props.row.name }}
              </div>
              <div class="table-people__job ellipsis">
                <i class="bi bi-briefcase"></i>
                {{ props.row.job }}
              </div>
              <div class="table-people__email ellipsis">
                <i class="bi bi-envelope"></i>
                {{ props.row.email }}
              </div>
            </q-card-section>
          </q-card>
        </div>
      </template>
      <template
        #no-data
        v-if="!loading"
      >
        <div class="no-data">
          <img
            src="~assets/default/no_results_found.svg"
            alt="no_results_found"
          />
          <p class="no-data-title">No results found.</p>
          <p class="no-data-desc">Please try again with other keyword.</p>
        </div>
      </template>
      <template #bottom>
        <PaginationWorkSpace
          v-model="pagination.page"
          :max="pagesNumber"
        />
      </template>
      <q-layout
        view="hHh lpR fFf"
        class="bg-grey-1"
      >
        <q-drawer
          v-model="rightDrawerOpen"
          show-if-above
          bordered
          class="bg-grey-2"
          :width="351"
        >
          <div class="title flex justify-between items-center">
            <span class="title-text">Profile</span>
            <i class="bi bi-x-lg"></i>
          </div>

          <div class="information">
            <div class="information-top">
              <div class="information-avatar flex justify-center">
                <img
                  src="~assets/t-message/peopleimage.svg"
                  alt=""
                />
              </div>
              <div class="information-name">
                <div class="information-fullname flex justify-between items-center">
                  <span class="information-fullname__name">Anna Smith (you)</span>
                  <span class="information-fullname__edit">Edit</span>
                </div>
                <div class="information-role">
                  <i class="bi bi-plus"></i>
                  <span>Add your role</span>
                </div>
                <q-separator class="q-mt-lg q-mb-lg" />
              </div>
            </div>
          </div>

          <div class="contact">
            <div class="contact-top flex justify-between items-center">
              <span class="contact-title">Contact Information</span>
              <span class="contact-edit">Edit</span>
            </div>
            <div class="contact-email flex items-center">
              <div class="email-left"><i class="bi bi-envelope"></i></div>
              <div class="email-right column">
                <span class="email-title">Email address</span>
                <span class="email-address">vutientoan24122001@mail.com</span>
              </div>
            </div>
          </div>

          <div class="phone">
            <div class="phone-desc flex items-center">
              <div class="desc-left"><i class="bi bi-envelope"></i></div>
              <div class="desc-right column">
                <span class="desc-title">Phone</span>
                <span class="desc-address">
                  <i class="bi bi-plus"></i>
                  Add phone
                </span>
              </div>
            </div>
          </div>
        </q-drawer>
      </q-layout>
    </q-table>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs, watch, computed, ref } from 'vue';
import { useQuasar } from 'quasar';
import PaginationWorkSpace from 'src/components/general/PaginationWorkSpace.vue';
import WorkspaceService from 'src/services/workspace';
import { useRoute } from 'vue-router';
import NotifyServices from 'src/plugins/NotifyServices';
import { useI18n } from 'vue-i18n';
import { genColor } from 'src/helper/global';

interface itemPeople {
  id: string | number;
  name: string;
  job: string;
  email: string;
}

export default defineComponent({
  name: 'peoplePage',
  props: {
    search: {
      type: String,
      default: '',
    },
  },
  components: {
    PaginationWorkSpace,
  },

  setup(props) {
    const rightDrawerOpen = ref(false);
    function toggleRighttDrawer() {
      rightDrawerOpen.value = !rightDrawerOpen.value;
    }
    const { t } = useI18n();

    const columns = [
      { name: 'name', label: 'name', field: 'name' },
      { name: 'job', label: 'job', field: 'job' },
      { name: 'email', label: 'email', field: 'email' },
    ];
    const route = useRoute();

    const state = reactive<{
      rows: Array<itemPeople>;
      loading: boolean;
    }>({
      rows: [],
      loading: false,
    });
    const searchMember = computed(() => {
      return props.search || '';
    });
    watch(searchMember, () => {
      getMembers();
    });

    const $q = useQuasar();

    function getItemsPerPage() {
      if ($q.screen.lt.sm) {
        return 3;
      }
      if ($q.screen.lt.md) {
        return 6;
      }
      return 9;
    }

    const filter = ref('');

    const pagination = ref({
      page: 1,
      rowsPerPage: getItemsPerPage(),
      total: state.rows.length,
    });

    const getMembers = () => {
      state.loading = true;
      WorkspaceService.findAllMemberWorkspace(`${route.params.workspaceId}`, {
        page: pagination.value?.page || 1,
        page_size: pagination.value?.rowsPerPage || 3,
        search: searchMember.value,
      })
        .then((res: any) => {
          if (res?.status_code === 200) {
            state.rows = [];
            res?.data?.data.map((item: any) => {
              state.rows.push({
                ...item,
                name: item.full_name || item.email || '',
              });
              return item;
            });
            console.log('state.rows', state.rows);
          } else {
            NotifyServices.showMessageError(res?.errors.message);
          }
        })
        .catch((err) => {
          console.log('err', err);
          NotifyServices.showMessageError(t('workspace.notify.getPeopleFailed'));
        })
        .finally(() => {
          state.loading = false;
        });
    };
    getMembers();

    watch(
      () => $q.screen.name,
      () => {
        pagination.value.rowsPerPage = getItemsPerPage();
      },
    );
    watch(pagination, () => {
      getMembers();
    });
    const cssStyle = computed(() => {
      return {
        height: 'calc( 100vh - 260px)',
      };
    });

    return {
      toggleRighttDrawer,
      rightDrawerOpen,
      ...toRefs(state),
      columns,
      filter,
      pagination,
      cssStyle,
      pagesNumber: computed(() =>
        Math.ceil(state.rows.length / pagination.value.rowsPerPage),
      ),

      cardContainerClass: computed(() => {
        return $q.screen.gt.xs
          ? 'grid-masonry grid-masonry--' + ($q.screen.gt.sm ? '3' : '2')
          : null;
      }),

      rowsPerPageOptions: computed(() => {
        return $q.screen.gt.xs ? ($q.screen.gt.sm ? [3, 6, 9] : [3, 6]) : [3];
      }),
    };
  },
});
</script>

<style lang="scss">
.grid {
  flex-direction: column;

  .grid--2 > div:nth-child(2n + 1) {
    order: 1;
  }

  .grid--2 > div:nth-child(2n) {
    order: 2;
  }

  .grid--2:before {
    content: '';
    flex: 1 0 100% !important;
    width: 0 !important;
    order: 1;
  }

  .grid--3 > div:nth-child(3n + 1) {
    order: 1;
  }

  .grid--3 > div:nth-child(3n + 2) {
    order: 2;
  }

  .grid--3 > div:nth-child(3n) {
    order: 3;
  }

  .grid--3:before,
  .grid--3:after {
    content: '';
    flex: 1 0 100% !important;
    width: 0 !important;
    order: 2;
  }
}

.table-people {
  padding: 8px 16px;

  .q-card {
    box-shadow: none;
    border: 1px solid #e9eae8;
    border-radius: 8px;
  }

  .table-people__img {
    padding: 8px 16px;

    img {
      width: 72px;
      height: 72px;
    }
  }

  .q-card__section {
    padding: 0;
    width: calc(100% - 120px);

    .table-people__name {
      font-size: 16px;
      font-weight: 500;
      color: #2f2f2f;
    }

    .table-people__job {
      margin: 4px 0;
    }

    .table-people__job,
    .table-people__email {
      font-size: 14px;
      font-weight: 400;
      color: #878b87;

      i {
        margin-right: 4px;
      }
    }
  }
}

.table-no-data {
  .q-table__bottom--nodata {
    height: 100%;

    .no-data {
      font-size: 14px;
      line-height: 20px;
      color: #2f2f2f;
      text-align: center;
      img {
        margin-bottom: 16px;
      }
      &-title {
        font-weight: 500;
        margin-bottom: 0;
      }

      &-desc {
        margin-bottom: 0;
      }
    }
  }
}

.q-table__bottom {
  justify-content: center;
}
</style>
