<template>
  <q-input
    v-model="content"
    v-bind="$attrs"
    dense
    outlined
    class="input-search"
  >
    <template v-slot:prepend>
      <q-icon :name="icon" />
    </template>
  </q-input>
</template>

<script>
export default {
  name: 'TextFieldSearch',

  props: {
    value: {
      type: String,
      default: '',
    },

    icon: {
      type: String,
      default: '',
    },
  },

  computed: {
    content: {
      get() {
        return this.value;
      },
      set(v) {
        this.$emit('input', v);
      },
    },
  },
};
</script>

<style scoped lang="scss">
.input-search {
  ::v-deep {
    input {
      font-size: 14px;
      color: #878b87;
    }
    .q-icon {
      font-size: 10.67px;
      color: #565656;
    }
    .q-icon,
    input::placeholder {
      //   color: red;
    }
    .q-field__control:before {
      border-color: #f8f8f8;
    }
    .q-field__control {
      border-radius: 4px;
      color: #565656;
    }

    .q-field__control,
    .q-field__marginal {
      height: 40px;
    }
  }
}
</style>
