<template>
  <div class="q-pa-xl">
    <q-card class="my-card">
      <q-card-section class="bg-primary text-white">
        <div class="text-h6">Typography</div>
      </q-card-section>
      <q-separator />
      <q-card-section>
        <p class="text-h1">Heading 1</p>
        <p class="text-h2">Heading 2</p>
        <p class="text-h3">Heading 3</p>
        <p class="text-h3-regular">Heading 3 Regular</p>
        <p class="text-h4">Heading 4</p>
        <p class="text-h5-bold">Heading 5 Bold</p>
        <p class="text-h5">Heading 5</p>
        <p class="text-h5-regular">Heading 5 Regular</p>
        <p class="text-body-bold">Body Bold</p>
        <p class="text-body">Body</p>
        <p class="text-body-regular">Body Regular</p>
        <p class="text-body text-line-through">Body Strikethrough</p>
        <p class="text-body-regular text-line-through">Body Regular Strikethrough</p>
        <p class="text-caption">Caption</p>
      </q-card-section>
    </q-card>

    <q-card class="my-card">
      <q-card-section class="bg-primary text-white">
        <div class="text-h6">Button</div>
      </q-card-section>
      <q-separator />
      <q-card-section>
        <div class="text-h4 q-mb-sm">Large</div>
        <div class="row q-mb-md">
          <div class="col text-caption">Primary</div>
          <div class="col">
            <c-btn
              label="Button"
              color="primary"
              size="large"
            />
          </div>
          <div class="col">
            <c-btn
              label="Button"
              color="primary"
              size="large"
              disable
            />
          </div>
          <div class="col">
            <c-btn
              label="Button"
              color="primary"
              icon="bi-person-add"
              size="large"
            />
          </div>
          <div class="col">
            <c-btn
              label="Button"
              color="primary"
              icon="bi-person-add"
              size="large"
              disable
            />
          </div>
        </div>
        <div class="row q-mb-md">
          <div class="col text-caption">Secondary</div>
          <div class="col">
            <c-btn
              label="Button"
              color="primary"
              outline
              size="large"
            />
          </div>
          <div class="col">
            <c-btn
              label="Button"
              color="primary"
              outline
              size="large"
              disable
            />
          </div>
          <div class="col">
            <c-btn
              label="Button"
              color="primary"
              outline
              icon="bi-person-add"
              size="large"
            />
          </div>
          <div class="col">
            <c-btn
              label="Button"
              color="primary"
              icon="bi-person-add"
              outline
              disable
              size="large"
            />
          </div>
        </div>
        <div class="row q-mb-md">
          <div class="col text-caption">Negative</div>
          <div class="col">
            <c-btn
              label="Button"
              color="negative"
              outline
              size="large"
            />
          </div>
          <div class="col">
            <c-btn
              label="Button"
              color="negative"
              outline
              disable
              size="large"
            />
          </div>
          <div class="col">
            <c-btn
              label="Button"
              color="negative"
              outline
              icon="bi-person-add"
              size="large"
            />
          </div>
          <div class="col">
            <c-btn
              label="Button"
              color="negative"
              icon="bi-person-add"
              outline
              disable
              size="large"
            />
          </div>
        </div>
        <div class="text-h4 q-mb-sm">Medium</div>
        <div class="row q-mb-md">
          <div class="col text-caption">Primary</div>
          <div class="col">
            <c-btn
              label="Button"
              color="primary"
            />
          </div>
          <div class="col">
            <c-btn
              label="Button"
              color="primary"
              disable
            />
          </div>
          <div class="col">
            <c-btn
              label="Button"
              color="primary"
              icon="bi-person-add"
            />
          </div>
          <div class="col">
            <c-btn
              label="Button"
              color="primary"
              icon="bi-person-add"
              disable
            />
          </div>
        </div>
        <div class="row q-mb-md">
          <div class="col text-caption">Secondary</div>
          <div class="col">
            <c-btn
              label="Button"
              color="primary"
              outline
            />
          </div>
          <div class="col">
            <c-btn
              label="Button"
              color="primary"
              outline
              disable
            />
          </div>
          <div class="col">
            <c-btn
              label="Button"
              color="primary"
              outline
              icon="bi-person-add"
            />
          </div>
          <div class="col">
            <c-btn
              label="Button"
              color="primary"
              icon="bi-person-add"
              outline
              disable
            />
          </div>
        </div>
        <div class="row q-mb-md">
          <div class="col text-caption">Negative</div>
          <div class="col">
            <c-btn
              label="Button"
              color="negative"
              outline
            />
          </div>
          <div class="col">
            <c-btn
              label="Button"
              color="negative"
              outline
              disable
            />
          </div>
          <div class="col">
            <c-btn
              label="Button"
              color="negative"
              outline
              icon="bi-person-add"
            />
          </div>
          <div class="col">
            <c-btn
              label="Button"
              color="negative"
              icon="bi-person-add"
              outline
              disable
            />
          </div>
        </div>
        <div class="text-h4 q-mb-sm">Small</div>
        <div class="row q-mb-md">
          <div class="col text-caption">Primary</div>
          <div class="col">
            <c-btn
              label="Button"
              color="primary"
              size="small"
            />
          </div>
          <div class="col">
            <c-btn
              label="Button"
              color="primary"
              size="small"
              disable
            />
          </div>
          <div class="col">
            <c-btn
              label="Button"
              color="primary"
              icon="bi-person-add"
              size="small"
            />
          </div>
          <div class="col">
            <c-btn
              label="Button"
              color="primary"
              icon="bi-person-add"
              size="small"
              disable
            />
          </div>
        </div>
        <div class="row q-mb-md">
          <div class="col text-caption">Secondary</div>
          <div class="col">
            <c-btn
              label="Button"
              color="primary"
              outline
              size="small"
            />
          </div>
          <div class="col">
            <c-btn
              label="Button"
              color="primary"
              outline
              size="small"
              disable
            />
          </div>
          <div class="col">
            <c-btn
              label="Button"
              color="primary"
              outline
              icon="bi-person-add"
              size="small"
            />
          </div>
          <div class="col">
            <c-btn
              label="Button"
              color="primary"
              icon="bi-person-add"
              outline
              disable
              size="small"
            />
          </div>
        </div>
        <div class="row q-mb-md">
          <div class="col text-caption">Negative</div>
          <div class="col">
            <c-btn
              label="Button"
              color="negative"
              outline
              size="small"
            />
          </div>
          <div class="col">
            <c-btn
              label="Button"
              color="negative"
              outline
              disable
              size="small"
            />
          </div>
          <div class="col">
            <c-btn
              label="Button"
              color="negative"
              outline
              icon="bi-person-add"
              size="small"
            />
          </div>
          <div class="col">
            <c-btn
              label="Button"
              color="negative"
              icon="bi-person-add"
              outline
              disable
              size="small"
            />
          </div>
        </div>
        <div class="text-h4 q-mb-sm">Round Large</div>
        <div class="row q-mb-md">
          <div class="col text-caption">Primary</div>
          <div class="col">
            <c-btn
              color="primary"
              size="large"
              icon="bi-person-add"
              round
            />
          </div>
          <div class="col">
            <c-btn
              icon="bi-person-add"
              color="primary"
              size="large"
              disable
              round
            />
          </div>
          <div class="col">
            <c-btn
              color="primary"
              icon="bi-person-add"
              size="large"
              round
            />
          </div>
          <div class="col">
            <c-btn
              color="primary"
              icon="bi-person-add"
              size="large"
              disable
              round
            />
          </div>
        </div>
        <div class="row q-mb-md">
          <div class="col text-caption">Secondary</div>
          <div class="col">
            <c-btn
              icon="bi-person-add"
              color="primary"
              outline
              size="large"
              round
            />
          </div>
          <div class="col">
            <c-btn
              icon="bi-person-add"
              color="primary"
              outline
              size="large"
              disable
              round
            />
          </div>
          <div class="col">
            <c-btn
              color="primary"
              outline
              icon="bi-person-add"
              size="large"
              round
            />
          </div>
          <div class="col">
            <c-btn
              color="primary"
              icon="bi-person-add"
              outline
              disable
              size="large"
              round
            />
          </div>
        </div>
        <div class="row q-mb-md">
          <div class="col text-caption">Negative</div>
          <div class="col">
            <c-btn
              icon="bi-person-add"
              color="negative"
              outline
              size="large"
              round
            />
          </div>
          <div class="col">
            <c-btn
              icon="bi-person-add"
              color="negative"
              outline
              disable
              size="large"
              round
            />
          </div>
          <div class="col">
            <c-btn
              icon="bi-person-add"
              color="negative"
              outline
              size="large"
              round
            />
          </div>
          <div class="col">
            <c-btn
              color="negative"
              icon="bi-person-add"
              outline
              disable
              size="large"
              round
            />
          </div>
        </div>
        <div class="text-h4 q-mb-sm">Round Medium</div>
        <div class="row q-mb-md">
          <div class="col text-caption">Primary</div>
          <div class="col">
            <c-btn
              color="primary"
              icon="bi-person-add"
              round
            />
          </div>
          <div class="col">
            <c-btn
              icon="bi-person-add"
              color="primary"
              disable
              round
            />
          </div>
          <div class="col">
            <c-btn
              color="primary"
              icon="bi-person-add"
              round
            />
          </div>
          <div class="col">
            <c-btn
              color="primary"
              icon="bi-person-add"
              disable
              round
            />
          </div>
        </div>
        <div class="row q-mb-md">
          <div class="col text-caption">Secondary</div>
          <div class="col">
            <c-btn
              icon="bi-person-add"
              color="primary"
              outline
              round
            />
          </div>
          <div class="col">
            <c-btn
              icon="bi-person-add"
              color="primary"
              outline
              disable
              round
            />
          </div>
          <div class="col">
            <c-btn
              color="primary"
              outline
              icon="bi-person-add"
              round
            />
          </div>
          <div class="col">
            <c-btn
              color="primary"
              icon="bi-person-add"
              outline
              disable
              round
            />
          </div>
        </div>
        <div class="row q-mb-md">
          <div class="col text-caption">Negative</div>
          <div class="col">
            <c-btn
              icon="bi-person-add"
              color="negative"
              outline
              round
            />
          </div>
          <div class="col">
            <c-btn
              icon="bi-person-add"
              color="negative"
              outline
              disable
              round
            />
          </div>
          <div class="col">
            <c-btn
              icon="bi-person-add"
              color="negative"
              outline
              round
            />
          </div>
          <div class="col">
            <c-btn
              color="negative"
              icon="bi-person-add"
              outline
              disable
              round
            />
          </div>
        </div>
        <div class="text-h4 q-mb-sm">Round Small</div>
        <div class="row q-mb-md">
          <div class="col text-caption">Primary</div>
          <div class="col">
            <c-btn
              color="primary"
              icon="bi-person-add"
              size="small"
              round
            />
          </div>
          <div class="col">
            <c-btn
              icon="bi-person-add"
              color="primary"
              disable
              size="small"
              round
            />
          </div>
          <div class="col">
            <c-btn
              color="primary"
              icon="bi-person-add"
              size="small"
              round
            />
          </div>
          <div class="col">
            <c-btn
              color="primary"
              icon="bi-person-add"
              disable
              size="small"
              round
            />
          </div>
        </div>
        <div class="row q-mb-md">
          <div class="col text-caption">Secondary</div>
          <div class="col">
            <c-btn
              icon="bi-person-add"
              color="primary"
              outline
              size="small"
              round
            />
          </div>
          <div class="col">
            <c-btn
              icon="bi-person-add"
              color="primary"
              outline
              disable
              size="small"
              round
            />
          </div>
          <div class="col">
            <c-btn
              color="primary"
              outline
              icon="bi-person-add"
              size="small"
              round
            />
          </div>
          <div class="col">
            <c-btn
              color="primary"
              icon="bi-person-add"
              outline
              disable
              size="small"
              round
            />
          </div>
        </div>
        <div class="row q-mb-md">
          <div class="col text-caption">Negative</div>
          <div class="col">
            <c-btn
              icon="bi-person-add"
              color="negative"
              outline
              size="small"
              round
            />
          </div>
          <div class="col">
            <c-btn
              icon="bi-person-add"
              color="negative"
              outline
              disable
              size="small"
              round
            />
          </div>
          <div class="col">
            <c-btn
              icon="bi-person-add"
              color="negative"
              outline
              size="small"
              round
            />
          </div>
          <div class="col">
            <c-btn
              color="negative"
              icon="bi-person-add"
              outline
              disable
              size="small"
              round
            />
          </div>
        </div>
        <div class="text-h4 q-mb-sm">Text Button</div>
        <div class="row q-mb-md">
          <div class="col text-caption">Primary</div>
          <div class="col">
            <c-btn
              label="filter"
              color="primary"
              flat
            />
          </div>
          <div class="col">
            <c-btn
              label="filter"
              color="primary"
              disable
              flat
            />
          </div>
          <div class="col">
            <c-btn
              label="filter"
              color="primary"
              icon="bi-funnel"
              flat
            />
          </div>
          <div class="col">
            <c-btn
              label="filter"
              color="primary"
              icon="bi-funnel"
              disable
              flat
            />
          </div>
        </div>
        <div class="row q-mb-md">
          <div class="col text-caption">Negative</div>
          <div class="col">
            <c-btn
              label="filter"
              color="negative"
              flat
            />
          </div>
          <div class="col">
            <c-btn
              label="filter"
              color="negative"
              disable
              flat
            />
          </div>
          <div class="col">
            <c-btn
              label="filter"
              color="negative"
              icon="bi-funnel"
              flat
            />
          </div>
          <div class="col">
            <c-btn
              label="filter"
              color="negative"
              icon="bi-funnel"
              disable
              flat
            />
          </div>
        </div>
      </q-card-section>
    </q-card>

    <q-card class="my-card">
      <q-card-section class="bg-primary text-white">
        <div class="text-h6">Typography</div>
      </q-card-section>
      <q-separator />
      <q-card-section>
        <div class="text-h4 q-mb-sm">Without icon</div>
        <div class="row q-mb-md">
          <div class="col">
            <c-text-field
              v-model="inputValue"
              label="Label"
            />
          </div>
          <div class="col q-pl-sm">
            <c-text-field
              v-model="inputValue"
              label="Label"
            />
          </div>
          <div class="col q-pl-sm">
            <c-text-field
              v-model="inputValue"
              label="Label"
              error-message="This is error message"
            />
          </div>
          <div class="col q-pl-sm">
            <c-text-field
              v-model="inputValue"
              label="Label"
              disable
            />
          </div>
        </div>
        <div class="text-h4 q-mb-sm">Icon</div>
        <div class="row q-mb-md">
          <div class="col">
            <c-text-field
              v-model="inputValue2"
              label="Label"
              prepend-icon="bi-calendar-event"
              @icon-click="iconClick"
            />
          </div>
          <div class="col q-pl-sm">
            <c-text-field
              v-model="inputValue2"
              label="Label"
            >
              <template v-slot:prepend>
                <q-icon name="mail" />
              </template>
            </c-text-field>
          </div>
          <div class="col q-pl-sm">
            <c-text-field
              v-model="inputValue2"
              label="Label"
              append-icon="bi-calendar-event"
            />
          </div>
          <div class="col q-pl-sm">
            <c-text-field
              v-model="inputValue2"
              label="Label"
            >
              <template v-slot:append>
                <q-icon name="mail" />
              </template>
            </c-text-field>
          </div>
        </div>
        <div class="text-h4 q-mb-sm">Calendar</div>
        <div class="row q-mb-md">
          <div class="col">
            <c-date-picker
              v-model="inputValue3"
              label="Label"
            />
          </div>
          <div class="col q-pl-sm">
            <c-date-picker
              v-model="inputValue3"
              label="Label"
            />
          </div>
          <div class="col q-pl-sm">
            <c-date-picker
              v-model="inputValue3"
              error-message="This is error message"
              label="Label"
            />
          </div>
          <div class="col q-pl-sm">
            <c-date-picker
              v-model="inputValue1"
              disable
              label="Label"
            />
          </div>
        </div>
        <div class="text-h4 q-mb-sm">Password</div>
        <div class="row q-mb-md">
          <div class="col">
            <c-text-field
              v-model="inputValue4"
              label="Password"
              :type="isPassword ? 'password' : 'text'"
              :append-icon="isPassword ? 'bi-eye-slash' : 'bi-eye'"
              iconPointer
              @icon-click="changePasswordType"
            />
          </div>
          <div class="col q-pl-sm">
            <c-text-field
              v-model="inputValue4"
              label="Password"
              :type="isPassword ? 'password' : 'text'"
              :append-icon="isPassword ? 'bi-eye-slash' : 'bi-eye'"
              iconPointer
              @icon-click="changePasswordType"
            />
          </div>
          <div class="col q-pl-sm">
            <c-text-field
              v-model="inputValue4"
              label="Password"
              :type="isPassword ? 'password' : 'text'"
              :append-icon="isPassword ? 'bi-eye-slash' : 'bi-eye'"
              iconPointer
              error-message="This is error message"
              @icon-click="changePasswordType"
            />
          </div>
          <div class="col q-pl-sm">
            <c-text-field
              v-model="inputValue4"
              label="Password"
              :type="isPassword ? 'password' : 'text'"
              :append-icon="isPassword ? 'bi-eye-slash' : 'bi-eye'"
              disable
              @icon-click="changePasswordType"
            />
          </div>
        </div>
        <div class="text-h4 q-mb-sm">Text area</div>
        <div class="row q-mb-md">
          <div class="col">
            <c-text-area
              v-model="inputValue5"
              label="Text area"
              max-length="10"
            />
          </div>
          <div class="col q-pl-sm">
            <c-text-area
              v-model="inputValue5"
              label="Text area"
              max-length="10"
            />
          </div>
          <div class="col q-pl-sm">
            <c-text-area
              v-model="inputValue5"
              label="Text area"
              error-message="This is error message"
              max-length="10"
            />
          </div>
          <div class="col q-pl-sm">
            <c-text-area
              v-model="inputValue5"
              label="Text area"
              disable
              max-length="10"
            />
          </div>
        </div>
      </q-card-section>
    </q-card>
    <div
      v-for="(cardItem, index) in formChannelInfo"
      :key="index"
    >
      <CardChannel :formChannelInfo="cardItem"> </CardChannel>
      <pre>
      {{ cardItem }}
      </pre>
    </div>
    <div
      v-for="(cardStatus, index) in formStatus"
      :key="index"
    >
      <CardStatus :formStatus="cardStatus" />
      <pre>
      {{ cardStatus }}
      </pre>
    </div>

    <div
      v-for="(cardComment, index) in formComment"
      :key="index"
    >
      <CardComment :formComment="cardComment" />
      <pre>
      {{ cardComment }}
      </pre>
    </div>

    <q-card class="card-people">
      <q-card-actions
        vertical
        v-for="(cardPeople, index) in formPeople"
        :key="index"
      >
        <CPeople :formPeople="cardPeople" />
      </q-card-actions>
    </q-card>

    <div
      v-for="(cardNotify, index) in formNotify"
      :key="index"
    >
      <CNotify :formNotify="cardNotify" />
      <pre>
      {{ cardNotify }}
      </pre>
    </div>
    <q-card class="my-card">
      <q-card-section class="bg-primary text-white">
        <div class="text-h6">Upload</div>
      </q-card-section>
      <q-separator />
      <q-card-section>
        <div class="text-h4 q-mb-sm">Upload MultipleFile</div>
        <div class="row q-mb-md">
          <div class="col">
            <c-upload
              multiple
              showTitle
              @get-file-before="getFileBefore"
              @get-file="getFile"
            >
              <template #action="{ handleUpload }">
                <div style="margin-bottom: 8px">
                  <div v-if="!files?.length">{{ $t('upload.rules') }}</div>
                  <div v-else>
                    {{ files.length || 1 }} {{ $t('upload.totalUploaded') }}
                  </div>
                </div>
                <c-btn
                  label="Upload from computer"
                  icon="bi-upload"
                  color="primary"
                  outline
                  size="small"
                  @click="handleUpload"
                />
              </template>
            </c-upload>
            <div
              v-for="(item, index) in files"
              :key="index"
              class="flex"
            >
              <card-file-upload
                :default-files="item"
                @removeFile="removeFile"
              />
              <pre>{{ item }}</pre>
            </div>
          </div>
        </div>
      </q-card-section>
    </q-card>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, toRefs, reactive } from 'vue';
import CardChannel from 'src/components/common/CardChannel.vue';
import CardStatus from 'src/components/common/CardStatus.vue';
import CardComment from 'src/components/common/CardComment.vue';
import CPeople from 'src/components/common/CPeople.vue';
import CNotify from 'src/components/common/CNotify.vue';
import CardFileUpload from 'components/upfile/cardFileUpload.vue';

interface formChannel {
  id: number;
  statusBackground?: string;
  radio?: string;
  date: Date;
  content?: string;
  due: Due;
  priority: string;
  attachment?: string;
  markDone?: number;
  comment?: number;
}

interface Due {
  status: string;
  date: number | string;
}

interface Date {
  status: string;
  time: number | string;
}

interface formStatus {
  id: number;
  date: string;
  status?: Status;
  comment?: Comment;
}

interface Status {
  name: string;
  content: string;
}

interface Comment {
  name: string;
  content: string;
  dateComment: number;
  status: string;
}

interface formComment {
  id: number;
  avatar: string;
  name: string;
  content: string;
  time: number;
  like?: Like;
  reply?: Reply;
}

interface Like {
  number?: number;
  status?: string;
}

interface Reply {
  id: number;
  status: string;
  avatar: string;
  name: string;
  content: string;
  time: number;
  like?: number;
}

interface formPeople {
  id: number;
  avatar: string;
  name: string;
  add: Add;
}

interface Add {
  content: string;
  status: string;
}

interface formNotify {
  id: number;
  title: Title;
  content: string;
}

interface Title {
  firstContent: string;
  name: string;
  lastContent: string;
  project: string;
  date: string;
}

export default defineComponent({
  components: {
    CardFileUpload,
    CardChannel,
    CardStatus,
    CardComment,
    CPeople,
    CNotify,
  },

  setup() {
    const inputValue = ref<string>('');
    const inputValue2 = ref<string>('');
    const inputValue3 = ref<string>('');
    const inputValue4 = ref<string>('');
    const inputValue5 = ref<string>('');
    const isPassword = ref<boolean>(true);
    const changePasswordType = () => {
      isPassword.value = !isPassword.value;
    };
    const iconClick = () => {
      console.log('iconClick() run');
    };
    const state = reactive<{
      files: any;
    }>({
      files: [
        //   {
        //     id: 1,
        //     name: '1_wire_18_10_2021_04.jpg',
        //     originalname: '1_wire_18_10_2021_04.jpg',
        //     url: 'https://tmessagebucket.s3.ap-southeast-1.amazonaws.com/development/2359c185-76cf-4b12-8a0d-eee3e52ff7da-1_wire_18_10_2021_04.jpg',
        //   },
        //   {
        //     id: 2,
        //     name: '1_wire_18_10_2021_04.jpg',
        //     url: 'https://tmessagebucket.s3.ap-southeast-1.amazonaws.com/development/2359c185-76cf-4b12-8a0d-eee3e52ff7da-1_wire_18_10_2021_04.jpg',
        //   },
        //   {
        //     id: 3,
        //     name: '7c954006-d407-435a-b4fe-034f71ffd86b.zip',
        //     originalname: '7c954006-d407-435a-b4fe-034f71ffd86b.zip',
        //   },
        //   {
        //     id: 4,
        //     name: '7c954006-d407-435a-b4fe-034f71ffd86b.rar',
        //   },
        //   {
        //     id: 5,
        //     name: '7c954006-d407-435a-b4fe-034f71ffd86b.docx',
        //   },
        //   {
        //     id: 6,
        //     name: '7c954006-d407-435a-b4fe-034f71ffd86b.xlsx',
        //   },
        //   {
        //     id: 7,
        //     name: '7c954006-d407-435a-b4fe-034f71ffd86b.pdf',
        //   },
        //   {
        //     name: '7c954006-d407-435a-b4fe-034f71ffd86b.ai',
        //   },
        //   {
        //     name: '7c954006-d407-435a-b4fe-034f71ffd86b.psd',
        //   },
        //   {
        //     name: '7c954006-d407-435a-b4fe-034f71ffd86b.abc',
        //   },
      ],
    });
    const updateListImg = (newItem: any) => {
      state.files = state.files.map((item: any) => {
        if (!item.originalname && item.name === newItem.originalname) {
          return {
            ...newItem,
            name: newItem.originalname,
          };
        }
        return item;
      });
    };
    const getFile = (listFile: any) => {
      if (!listFile) return;
      listFile.map((item: any) => {
        updateListImg(item);
      });
    };
    const getFileBefore = (listFile: any) => {
      if (!listFile) return;
      listFile.map((item: any) => {
        state.files.push({
          ...item,
          name: item.originalname || item.name || '',
        });
      });
    };
    const removeFile = (file: any) => {
      state.files = state.files.filter((item: any) => item.id !== file.id);
    };

    const states = reactive<{
      formChannelInfo: Array<formChannel>;
      formStatus: Array<formStatus>;
      formComment: Array<formComment>;
      formPeople: Array<formPeople>;
      formNotify: Array<formNotify>;
    }>({
      formChannelInfo: [
        {
          id: 1,
          statusBackground: 'success',
          radio: '',
          // status của date sẽ dựa vào dữ liệu trả ra là sent( ngày gửi) || received( ngày nhận )
          date: { status: 'sent', time: 1678180043000 },
          content:
            'Create marketing planner in May and start our projects in August 28th, content is only limit 1 line, if long text we will',
          // dựa vào số ngày quy ước khi trả dữ liệu ra, để hiển thị ra card ra due(thời hạn) || overdue(hết hạn)
          due: { status: 'due', date: 13 },
          priority: 'Medium',
          attachment:
            'Marketing Planner version 2.docx ; Image1234.png ; Image 56892.jpeg, Design App for May.ai; Design App if long text we willl',
          markDone: 12,
          comment: 23,
        },
        {
          id: 2,
          statusBackground: 'warning',
          radio: '',
          // status của date sẽ dựa vào dữ liệu trả ra là sent( ngày gửi) || received( ngày nhận )
          date: { status: 'received', time: 1678180043000 },
          content:
            'Create marketing planner in May and start our projects in August 28th, content is only limit 1 line, if long text we will',
          // dựa vào số ngày quy ước khi trả dữ liệu ra, để hiển thị ra card ra due(thời hạn) || overdue(hết hạn)
          due: { status: 'overdue', date: 1 },
          priority: 'High',
          attachment:
            'Marketing Planner version 2.docx ; Image1234.png ; Image 56892.jpeg, Design App for May.ai; Design App if long text we willl',
          markDone: 1,
          comment: 13,
        },
        {
          id: 3,
          statusBackground: 'basic',
          radio: '',
          // status của date sẽ dựa vào dữ liệu trả ra là sent( ngày gửi) || received( ngày nhận )
          date: { status: 'received', time: 1678180043000 },
          content:
            'Create marketing planner in May and start our projects in August 28th, content is only limit 1 line, if long text we will',
          // dựa vào số ngày quy ước khi trả dữ liệu ra, để hiển thị ra card ra due(thời hạn) || overdue(hết hạn)
          due: { status: 'due', date: 13 },
          priority: 'Low',
          attachment:
            'Marketing Planner version 2.docx ; Image1234.png ; Image 56892.jpeg, Design App for May.ai; Design App if long text we willl',
          markDone: 12,
          comment: 23,
        },
        {
          id: 4,
          statusBackground: 'disable',
          radio: '',
          // status của date sẽ dựa vào dữ liệu trả ra là sent( ngày gửi) || received( ngày nhận )
          date: { status: 'received', time: 1678180043000 },
          content:
            'Create marketing planner in May and start our projects in August 28th, content is only limit 1 line, if long text we will',
          // dựa vào số ngày quy ước khi trả dữ liệu ra, để hiển thị ra card ra due(thời hạn) || overdue(hết hạn)
          due: { status: 'overdue', date: 13 },
          priority: 'Low',
          attachment:
            'Marketing Planner version 2.docx ; Image1234.png ; Image 56892.jpeg, Design App for May.ai; Design App if long text we willl',
          markDone: 12,
          comment: 23,
        },
        {
          id: 5,
          statusBackground: 'success',
          radio: '',
          // status của date sẽ dựa vào dữ liệu trả ra là sent( ngày gửi) || received( ngày nhận ) || draft
          date: { status: 'draft', time: 1678180043000 },
          // dựa vào số ngày quy ước khi trả dữ liệu ra, để hiển thị ra card ra due(thời hạn) || overdue(hết hạn)
          due: { status: 'due', date: 13 },
          priority: 'Low',
        },
        {
          id: 6,
          statusBackground: 'success',
          radio: '',
          content:
            'Create marketing planner in May and start our projects in August 28th, content is only limit 1 line, if long text we will',
          // status của date sẽ dựa vào dữ liệu trả ra là sent( ngày gửi) || received( ngày nhận ) || draft
          date: { status: 'draft', time: 1678180043000 },
          // dựa vào số ngày quy ước khi trả dữ liệu ra, để hiển thị ra card ra due(thời hạn) || overdue(hết hạn)
          due: { status: 'due', date: 13 },
          priority: 'Medium',
        },
        {
          id: 7,
          statusBackground: 'success',
          radio: '',
          // status của date sẽ dựa vào dữ liệu trả ra là sent( ngày gửi) || received( ngày nhận )
          date: { status: 'draft', time: 1678180043000 },
          content:
            'Create marketing planner in May and start our projects in August 28th, content is only limit 1 line, if long text we will',
          // dựa vào số ngày quy ước khi trả dữ liệu ra, để hiển thị ra card ra due(thời hạn) || overdue(hết hạn)
          due: { status: 'overdue', date: 13 },
          priority: 'High',
          attachment:
            'Marketing Planner version 2.docx ; Image1234.png ; Image 56892.jpeg, Design App for May.ai; Design App if long text we willl',
          markDone: 12,
          comment: 23,
        },
        {
          id: 8,
          statusBackground: 'basic',
          radio: '',
          // status của date sẽ dựa vào dữ liệu trả ra là sent( ngày gửi) || received( ngày nhận )
          date: { status: 'draft', time: 1678180043000 },
          content:
            'Create marketing planner in May and start our projects in August 28th, content is only limit 1 line, if long text we will',
          // dựa vào số ngày quy ước khi trả dữ liệu ra, để hiển thị ra card ra due(thời hạn) || overdue(hết hạn)
          due: { status: 'overdue', date: 13 },
          priority: 'High',
          attachment:
            'Marketing Planner version 2.docx ; Image1234.png ; Image 56892.jpeg, Design App for May.ai; Design App if long text we willl',
          markDone: 12,
          comment: 23,
        },
      ],

      formStatus: [
        {
          id: 1,
          date: '',
          status: {
            name: 'Anna Smith',
            content:
              'Create marketing planner in May and start our projects in August 28th, content is only limit 1 line, if long text we will use than the scroll target container’s height on screen then Infinite Scroll will continue loading more content. So make sure you load.',
          },
          comment: {
            name: 'Vũ Tiến Toàn',
            content:
              'We had successful meeting. Our planner will be provided to you guys soon.',
            dateComment: 1678180043000,
            status: 'comments this task',
          },
        },
      ],

      formComment: [
        {
          id: 1,
          avatar: '',
          name: 'Nguyen Thi Hue',
          content:
            'I would like to have an offline meeting this Friday. I have pretty awesome idea to present. 882 inspirational designs, illustrations, and graphic elements from the world’s best designers.',
          time: 2,
          like: { number: 12, status: 'action' },
          reply: {
            id: 1,
            status: 'action',
            avatar: '',
            name: 'Vu Tien Toan',
            content:
              'We had successful meeting. Our planner will be provided to you guys soon.',
            time: 1,
            like: 0,
          },
        },
      ],
      formPeople: [
        {
          id: 1,
          avatar: '',
          name: 'James Brown',
          add: { content: 'Already in this channel', status: 'yes' },
        },
        {
          id: 2,
          avatar: '',
          name: 'Sana Miles',
          add: { content: 'Already in this channel', status: 'yes' },
        },
        {
          id: 3,
          avatar: '',
          name: 'Nana Smith',
          add: { content: 'Already in this channel', status: 'no' },
        },
      ],
      formNotify: [
        {
          id: 1,
          title: {
            firstContent: 'New task from',
            name: 'Sana Miles',
            lastContent: '',
            project: '',
            date: '',
          },
          content:
            'Create marketing planner in May and review old done task we have solved in Jan, Feb, March, April.',
        },
        {
          id: 2,
          title: {
            firstContent: '',
            name: 'James Brown',
            lastContent: 'has commented on the task from',
            project: ' #Review projects',
            date: '',
          },
          content: 'Great idea. I’m free at 10am this Friday. Is this ok?',
        },
        {
          id: 3,
          title: {
            firstContent: '',
            name: '',
            lastContent: 'Upcoming due date task',
            project: '',
            date: '1678180043000',
          },
          content:
            'Create marketing planner in May and review old done task we have solved in Jan, Feb, March, April.',
        },
      ],
    });

    return {
      ...toRefs(state),
      ...toRefs(states),
      inputValue,
      inputValue2,
      inputValue3,
      inputValue4,
      inputValue5,
      isPassword,
      changePasswordType,
      iconClick,
      getFileBefore,
      removeFile,
      getFile,
    };
  },
});
</script>

<style lang="scss" scoped>
.my-card {
  margin-bottom: 100px;
}

.card-people {
  width: 592px;
  padding: 8px 0;
}
</style>
