.btn-green {
  background-color: #1c8c44;
  color: #fff;
  border: none;
  height: 48px;
  width: 437px;
  border-radius: 6px;
  margin-bottom: 24px;
  cursor: pointer;
}

.form-input {
}

.bg-purple-1 {
  background: #9d27b0 !important;
}

.text-truncate {
  //display: -webkit-box;
  //-webkit-line-clamp: 1;
  //-webkit-box-orient: vertical;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.active-item {
  background: #e7f6e9;
  color: #1c8c44;
  font-weight: 500;
}

.menu-workspace {
  min-width: 384px;
  width: max-content;
  max-height: 80vh;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  hr {
    margin: 8px 0;
  }
  .q-list {
    padding: 16px 16px 8px;

    .list-item {
      &-info {
        .q-item__label {
          color: #2f2f2f;
          font-weight: 500;
          font-size: 20px;
          line-height: 28px !important;

          &--caption {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px !important;
            color: #878b87;
          }
        }

        .q-item__section--avatar {
          padding-right: 12px;

          .q-avatar {
            border: 1px solid #e9eae8;
            border-radius: 50%;
          }
        }
      }

      &-price {
        .q-item__label {
          color: #3c3c3c;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px !important;

          &--caption {
            font-weight: 500;
            font-size: 24px;
            line-height: 32px !important;
            color: #1c8c44;
          }
        }
      }

      &-action {
        min-height: 40px;
        .q-item {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #3c3c3c;
        }
        &.q-item:hover {
          @extend .active-item;
          border-radius: 8px;
        }
      }
    }
  }
}
