.CModal {
  .q-card__section.CModal-header {
    padding: 24px 18px 24px 24px;
  }
  .q-card__section.CModal-body {
    padding: 8px 24px 24px;
  }
  .q-card__actions.CModal-footer {
    padding: 24px;
    .q-btn--large.q-btn--rectangle {
      min-width: 128px;
    }
  }
}

.modal-invite {
  min-width: 640px !important;
  &.CModal {
    .q-card__section.CModal-body {
      padding: 8px 24px 4px;
    }
  }
  .modal-invite-body {
  }

  .text-header {
    &-title {
      color: #2f2f2f;
    }

    &-name {
      color: #1c8c44;
    }
  }
}

.modal-edit {
  width: 640px !important;
  &.CModal {
    .q-card__section.CModal-body {
      padding: 0;
    }
  }
  .q-tabs__content--align-justify .q-tab {
    flex: 0 0 auto;
    padding: 24px 24px 0px 24px;
  }
  .q-tab__indicator {
    border-radius: 3px 3px 0 0;
  }
  .q-focus-helper {
    visibility: hidden;
  }
  .q-focus-helper:hover {
    background: #fff;
    opacity: 0;
  }
  .q-hoverable:hover {
    &::after {
      opacity: 0;
    }
  }
  &.CModal {
    .q-card__actions.CModal-footer {
      background: #f8f8f8;
      padding: 26px 24px 24px 12px;
    }
  }
}
