<template>
  <div>
    <!-- channel id--- {{ $route.params.channelId }} --- {{ $route.params.workspaceId }} -->
    <ChannelFile />
  </div>
</template>

<script>
import ChannelFile from 'src/components/general/ChannelFile.vue';
export default {
  name: '_channelId',

  components: {
    ChannelFile,
  },
};
</script>
