<template>
  <div>
    workspaceId--- {{ $route.params.channelId }} --- {{ $route.params.workspaceId }}
  </div>
</template>

<script>
export default {
  name: 'workspaceDetail',
};
</script>

<!--<style scoped></style>-->
