<template>
  <div>oneToOne --- {{ $route.params.memberId }} --- {{ $route.params.workspaceId }}</div>
</template>

<script>
export default {
  name: 'oneToOne',
};
</script>

<!--<style scoped></style>-->
