<template>
  <div>
    <CBreadcrumbs>
      <template #right>
        <c-btn
          icon="bi-people"
          label="Invite people"
          color="primary"
          size="small"
          @click="showModalInvite"
        >
        </c-btn>
      </template>
    </CBreadcrumbs>
    <div class="block-search">
      <c-text-field
        placeholder="Search by name of channel"
        prepend-icon="bi-search"
        debounce="500"
        v-model="search"
      >
      </c-text-field>
    </div>
    <TablePeople
      :search="search"
      class="q-pa-md"
    ></TablePeople>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import TablePeople from 'src/components/general/TablePeople.vue';
import { useWorkspaceStore } from 'stores/workspace';
// import { paramsMember } from 'src/services/workspace/model';

export default defineComponent({
  name: 'peoplePage',

  components: {
    TablePeople,
  },
  setup() {
    const workspaceStore = useWorkspaceStore();

    const search = ref('');
    const showModalInvite = () => {
      workspaceStore.showModalInvite(true);
    };

    // const getMemberWorkSpace = (searchValue: string) => {
    //   const params: paramsMember = {
    //     page: 1,
    //     page_size: 999999,
    //     sort_by: 'created_at',
    //     order_by: 'ASC',
    //     search: searchValue || ''
    //   }
    //   workspaceStore.getMemberWorkSpace(`${route.params.workspaceId}`, params)
    // }
    return {
      showModalInvite,
      search,
    };
  },
});
</script>

<style lang="scss">
.block-search {
  padding: 20px 32px 2px;

  .q-field__control {
    background-color: #f8f8f8;
  }

  .q-field__control {
    height: 40px;
  }

  .q-field__bottom {
    padding: 0;
  }

  .q-field--with-bottom {
    padding: 0;
  }

  .q-field__marginal {
    height: 40px;
  }

  .q-icon {
    font-size: 16px;
    color: #565656;
  }
}
</style>
