<template>
  <div>
    <c-btn
      label="openDialog"
      color="primary"
      flat
      @click="showDialog = true"
    />
    <modalEditChannel
      v-model="showDialog"
      @close="showDialog = false"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, ref, computed, toRefs } from 'vue';

import modalEditChannel from 'components/channel/modalEditChannel.vue';
export default defineComponent({
  name: 'unreadTasks',
  components: {
    modalEditChannel,
  },
  setup() {
    const state = reactive<{
      showDialog: boolean;
    }>({
      showDialog: false,
    });
    return {
      ...toRefs(state),
    };
  },
});
</script>

<!--<style scoped></style>-->
