<template>
  <div class="block-channel">
    <div class="block-right">
      <q-card class="my-card">
        <q-card-section class="flex justify-between">
          <div class="left-top">
            <div
              class="block-time"
              v-if="formStatus?.date !== ''"
            >
              <i class="bi bi-clock-history"></i>
              <span> Draft date & time: {{ formStatus?.date }}</span>
            </div>

            <div class="status">
              <div class="block-status">
                <p class="block-status__text">What to do</p>
                <span class="block-status__name">@{{ formStatus?.status?.name }}</span>
                <span class="block-status__content">{{
                  formStatus?.status?.content
                }}</span>
              </div>
            </div>

            <div class="action">
              <span class="block-action__name">{{ formStatus?.comment?.name }}</span>
              <span class="block-action__status">{{ formStatus?.comment?.status }}</span>
              <span class="block-action__time">{{
                formatdateToString(formStatus?.comment?.dateComment)
              }}</span>
            </div>

            <div
              class="commnent flex"
              v-if="formStatus?.comment?.content !== ''"
            >
              <div class="block-avatar">
                <img
                  src="~assets/t-message/peopleimage.svg"
                  alt=""
                />
              </div>
              <div class="block-comment">
                <p class="block-comment__name">{{ formStatus?.comment?.name }}</p>
                <span class="block-comment__content">{{
                  formStatus?.comment?.content
                }}</span>
              </div>
            </div>

            <div
              class="block-edit"
              v-if="formStatus?.date !== ''"
            >
              <i class="bi bi-pencil-square"></i>
            </div>

            <div
              class="block-delete"
              v-if="formStatus?.date !== ''"
            >
              <i class="bi bi-trash3"></i>
            </div>
          </div>
        </q-card-section>
      </q-card>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import { date } from 'quasar';

export default defineComponent({
  name: 'CardStatus',
  components: {},
  props: {
    formStatus: {
      type: Object,
      default() {
        return {};
      },
    },
  },
  setup() {
    const formatdateToString = (timeStamp: any) => {
      return date.formatDate(Number(timeStamp), 'MMM Do YYYY at HH:mm');
    };
    return {
      // ...toRefs(state),
      shape: ref('line'),
      formatdateToString,
    };
  },
});
</script>

<style lang="scss" scoped>
.block-channel {
  padding: 20px 32px 0px;

  .block-right {
    .my-card {
      box-shadow: none;
      border-radius: 8px;
      border: 1px solid #d3d3d3;

      .q-card__section {
        padding: 0;
      }
    }

    .left-top {
      position: relative;
      padding: 16px 24px;
      width: 100%;
      .block-time {
        padding: 0 67px 18px 0px;
        i {
          font-size: 16px;
          padding-right: 6px;
        }
        span {
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
        }
      }

      .status {
        padding-bottom: 12px;
        .block-status {
          background: #f8f8f8;
          border-radius: 4px;
          padding: 10px 10px 28px;

          .block-status__text {
            font-style: Regular;
            font-size: 12px;
            margin: 0;
            color: #878b87;
          }

          .block-status__name {
            color: #1c8c44;
            font-size: 14px;
            line-height: 20px;
            padding-right: 5px;
          }

          .block-status_content {
            color: #2f2f2f;
            font-size: 14px;
            line-height: 20px;
          }
        }
      }

      .action {
        padding-bottom: 12px;
        .block-action__name {
          color: #2f2f2f;
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          padding-right: 5px;
        }

        .block-action__status {
          padding-right: 5px;
          color: #2f2f2f;
        }

        .block-action__time {
          color: #878b87;
        }
      }

      .commnent {
        flex-wrap: nowrap;
        .block-avatar {
          padding-right: 8px;
          img {
            width: 32px;
            height: 32px;
          }
        }

        .block-comment {
          background: #f8f8f8;
          border-radius: 4px;
          align-items: center;
          width: calc(100% - 40px);
          padding: 8px;
          .block-comment__name {
            margin: 0;
            color: #2f2f2f;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
          }
          .block-comment__content {
            color: #2f2f2f;
            font-size: 14px;
            line-height: 20px;
          }
        }
      }
    }
  }
}
</style>
