<template>
  <div class="block-channel row">
    <div class="block-left col-1">
      <div class="left-title">Mark done</div>
      <div class="left-radio">
        <q-radio
          v-model="shape"
          checked-icon="bi-check-circle"
          unchecked-icon="panorama_fish_eye"
          val="line"
        />
      </div>
    </div>
    <div class="block-right col-11">
      <q-card
        class="my-card"
        :class="classCard[formChannelInfo?.statusBackground]"
        :cardItem="formChannelInfo"
      >
        <q-card-section class="flex justify-between">
          <div class="left-top">
            <div
              v-if="formChannelInfo?.date?.status === 'sent'"
              class="block-time"
            >
              <i class="bi bi-clock-history"></i>
              <span>
                Sent date & time:
                {{ formatdateToString(formChannelInfo?.date?.time || '') }}</span
              >
            </div>
            <div
              v-else-if="formChannelInfo?.date?.status === 'received'"
              class="block-time"
            >
              <i class="bi bi-funnel"></i>
              <span>
                Received date & time:
                {{ formatdateToString(formChannelInfo?.date?.time || '') }}</span
              >
            </div>
            <div
              v-else
              class="block-time"
            >
              <i class="bi bi-clock-history"></i>
              <span>
                Draft date & time:
                {{ formatdateToString(formChannelInfo?.date?.time || '') }}</span
              >
            </div>

            <div
              class="block-content text-subtitle2 ellipsis"
              v-if="
                formChannelInfo?.date?.status !== 'draft' ||
                formChannelInfo?.priority !== 'Low'
              "
            >
              Content:
              <span class="text-body-regular text-subtitle2">
                {{ formChannelInfo?.content || '' }}
              </span>
            </div>

            <div class="block-due">
              <span v-if="formChannelInfo?.due?.status === 'due'">Due:</span>
              <span v-else>Overdue:</span>
              <span class="text-body-regular"
                >{{ formChannelInfo?.due?.date || '' }} days</span
              >
            </div>

            <div class="block-priority">
              Priority:
              <span
                v-if="formChannelInfo?.priority === 'Medium'"
                class="block-priority__tag text-body-regular"
                >{{ formChannelInfo?.priority }}</span
              >
              <span
                v-else-if="formChannelInfo?.priority === 'Low'"
                class="block-priority__tag text-body-regular"
                :style="`background: #E9EAE8; color: #565656;`"
                >{{ formChannelInfo?.priority }}</span
              >
              <span
                v-else-if="formChannelInfo?.priority === 'High'"
                class="block-priority__tag text-body-regular"
                :style="`background: #FFEBEE; color: #F44436;`"
                >{{ formChannelInfo?.priority }}</span
              >
            </div>

            <div
              class="block-attachments ellipsis"
              v-if="
                formChannelInfo?.date?.status !== 'draft' ||
                (formChannelInfo?.priority !== 'Low' &&
                  formChannelInfo?.priority !== 'Medium')
              "
            >
              <i class="bi bi-paperclip"></i>
              Attachments:
              <span>{{ formChannelInfo?.attachment || '' }}</span>
            </div>

            <div
              class="block-avatar"
              v-if="
                (formChannelInfo?.priority === 'Low' &&
                  formChannelInfo?.date?.status !== 'draft') ||
                (formChannelInfo?.priority === 'High' &&
                  formChannelInfo?.date?.status !== 'draft')
              "
            >
              <img
                src="~assets/t-message/peopleimage.svg"
                alt=""
              />
            </div>
            <div
              v-if="
                formChannelInfo?.statusBackground === 'basic' &&
                formChannelInfo?.date?.status !== 'draft'
              "
              class="block-flag"
            >
              <i class="bi bi-flag-fill"></i>
              <span>Flag set</span>
            </div>

            <div
              v-if="
                formChannelInfo?.due?.status === 'overdue' &&
                formChannelInfo?.date?.status !== 'draft'
              "
              class="block-warning"
            >
              <img src="~assets/t-message/warning.svg" />
            </div>

            <div
              v-if="formChannelInfo?.date?.status === 'draft'"
              class="block-edit"
            >
              <i class="bi bi-pencil-square"></i>
            </div>

            <div
              v-if="formChannelInfo?.date?.status === 'draft'"
              class="block-delete"
            >
              <i class="bi bi-trash3"></i>
            </div>
          </div>
        </q-card-section>

        <q-separator />

        <q-card-actions
          vertical
          v-if="
            formChannelInfo?.date?.status === 'received' ||
            formChannelInfo?.date?.status === 'sent'
          "
        >
          <div class="block-bottom flex">
            <div class="bottom-left flex items-center justify-between">
              <div class="bottom-done">
                <i class="bi bi-bookmark-star"></i>
                <span>{{ formChannelInfo?.markDone }} Mark done</span>
              </div>
              <div class="bottom-comment">
                <i class="bi bi-chat-dots"></i>
                <span>{{ formChannelInfo?.comment }} Comments</span>
              </div>
            </div>
            <q-space />
            <div
              class="bottom-right flex items-center"
              v-if="formChannelInfo?.priority === 'Medium'"
            >
              <i class="bi bi-check2"></i>
            </div>
            <div
              class="bottom-right flex items-center"
              v-else-if="formChannelInfo?.priority === 'Low'"
            >
              <i class="bi bi-check-all"></i>
            </div>
          </div>
        </q-card-actions>
        <MenuClick />
      </q-card>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs, ref } from 'vue';
import MenuClick from 'src/components/general/MenuClick.vue';
import { date } from 'quasar';

interface typeclassCard {
  success: string;
  warning: string;
  disable: string;
  basic: string;
}

export default defineComponent({
  name: 'CardChannel',
  components: {
    MenuClick,
  },
  props: {
    formChannelInfo: {
      type: Object,
      default() {
        return {};
      },
    },
  },
  setup() {
    const formatdateToString = (timeStamp: any) => {
      return date.formatDate(Number(timeStamp), 'HH:mm, MMM Do YYYY');
    };
    const state = reactive<{
      classCard: typeclassCard;
    }>({
      classCard: {
        success: 'card-success',
        warning: 'card-warning',
        disable: 'card-disable',
        basic: 'card-basic',
      },
    });

    return {
      ...toRefs(state),
      shape: ref('line'),
      formatdateToString,
    };
  },
});
</script>

<style lang="scss" scoped>
.block-channel {
  padding: 20px 32px 0px;

  .block-left {
    .left-title {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #565656;
    }
    .left-radio {
      :deep(.q-radio__icon) {
        font-size: 40px;
        color: #878b87;
      }
    }
  }
  .block-right {
    .my-card {
      box-shadow: none;
      border-radius: 8px;

      .q-card__section {
        padding: 0;
      }
    }

    .left-top {
      position: relative;
      padding: 16px 24px;
      width: 100%;
      .block-time {
        padding: 0 67px 8px 0px;
        i {
          font-size: 16px;
          padding-right: 6px;
        }
        span {
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
        }
      }
      .block-content {
        line-height: 20px;
        span {
          font-weight: 500;
        }
      }

      .block-due {
        color: #2f2f2f;
        padding: 10px 0;
        line-height: 20px;
      }
      .block-priority {
        .block-priority__tag {
          width: 84px;
          height: 28px;
          background: #fff8e1;
          border-radius: 4px;
          padding: 5.5px 23px;
          color: #ff9800;
        }
      }

      .block-attachments {
        padding: 10px 0 0;
        span {
          color: #1e89e5;
          font-weight: 500;
          padding-left: 8px;
        }
      }

      .block-avatar {
        position: absolute;
        top: 16px;
        right: 24px;
        img {
          width: 40px;
          height: 40px;
        }
      }

      .block-flag {
        width: 79px;
        height: 24px;
        position: absolute;
        top: 80px;
        right: -10px;
        color: #fff;
        background-color: #ff5622;
        font-size: 12px;
        line-height: 1.6rem;
        font-weight: 500;
        padding-right: 4px;
        border-radius: 4px 0 0 4px;
        z-index: 1;

        i {
          padding: 4px 5px 4px 10px;
        }
      }

      .block-flag::before {
        content: '';
        top: 100%;
        left: 88%;
        position: absolute;
        border-top: 6px solid #ff5622;
        border-right: 7px solid transparent;
        filter: brightness(60%);
      }

      .block-warning {
        position: absolute;
        top: 65px;
        right: 24px;
      }

      .block-edit {
        position: absolute;
        top: 24px;
        right: 72px;
        font-size: 16px;
        cursor: pointer;
      }

      .block-delete {
        position: absolute;
        top: 24px;
        right: 33px;
        font-size: 16px;
        cursor: pointer;
      }
    }

    .block-bottom {
      padding: 6px 18px;
      .bottom-left {
        .bottom-done,
        .bottom-comment {
          padding-right: 24px;
          i {
            font-size: 16px;
            padding-right: 8px;
          }
          span {
            font-size: 14px;
            line-height: 20px;
          }
        }
      }
      .bottom-right {
        i {
          font-size: 24px;
          color: #1c8c44;
        }
      }
    }
  }
}

.card-success {
  border: 1px solid #1e89e5;
  background: #eaf5ff;

  hr {
    background: #1e89e5;
  }
}

.card-disable {
  border: 1px solid #d3d3d3;
  background: #f8f8f8;
  opacity: 0.5;
}

.card-warning {
  border: 1px solid #d3d3d3;
  background: #f8f8f8;
}

.card-basic {
  border: 1px solid #d3d3d3;
  background: #f8f8f8;
}
</style>
