<template>
  <div class="block-channel">
    <div class="block-right">
      <q-card class="my-card">
        <q-card-section>
          <div class="card-top">
            <div class="commnent flex">
              <div class="block-avatar">
                {{ formComment?.avatar }}
                <img
                  src="~assets/t-message/peopleimage.svg"
                  alt=""
                />
              </div>
              <div class="comment-right">
                <div class="block-comment">
                  <p class="block-comment__name">{{ formComment?.name }}</p>
                  <span class="block-comment__content">{{ formComment?.content }}</span>
                </div>
                <div class="card-status flex justify-between">
                  <div class="status-left flex">
                    <div class="status-time">{{ formComment?.time }}d</div>
                    <div class="status-like">
                      <span :class="classCard[formComment.like.status]">Like</span>
                    </div>
                    <div class="status-reply">
                      <span :class="classCard[formComment.reply.status]">Reply</span>
                    </div>
                  </div>

                  <!-- có 2 trạng thái để hiển thi số lượng like: 1 là khi có số lượng like > 1 và sẽ được hiển thị và ngược lại -->
                  <div
                    class="status-right"
                    v-if="formComment?.like?.status === 'action'"
                  >
                    <span class="status-liked"
                      >{{ formComment?.like?.number }}
                      <i class="bi bi-hand-thumbs-up-fill"></i
                    ></span>
                  </div>
                </div>
                <q-card-section>
                  <div class="card-reply">
                    <div class="reply flex">
                      <div class="reply-avatar">
                        {{ formComment?.reply?.avatar }}
                        <img
                          src="~assets/t-message/peopleimage.svg"
                          alt=""
                        />
                      </div>
                      <div class="reply-right">
                        <div class="reply-comment">
                          <p class="reply-comment__name">
                            {{ formComment?.reply?.name }}
                            <span>@{{ formComment?.name }}</span>
                          </p>
                          <span class="reply-comment__content">{{
                            formComment?.reply?.content
                          }}</span>
                        </div>
                        <div class="reply-status flex justify-between">
                          <div class="reply-left flex">
                            <div class="reply-time">{{ formComment?.reply?.time }}d</div>
                            <div class="reply-like">Like</div>
                            <div class="reply-text">Reply</div>
                          </div>
                          <div
                            class="reply-action"
                            v-if="formComment?.reply?.like !== 0"
                          >
                            <span class="reply-liked"
                              >{{ formComment?.reply?.like }}
                              <i class="bi bi-hand-thumbs-up-fill"></i
                            ></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </q-card-section>
              </div>
            </div>
          </div>
        </q-card-section>
      </q-card>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, reactive, toRefs } from 'vue';
import { date } from 'quasar';

interface typeclassCard {
  action: string;
  basic: string;
}

export default defineComponent({
  name: 'CardComment',
  components: {},
  props: {
    formComment: {
      type: Object,
      default() {
        return {};
      },
    },
  },
  setup() {
    const formatdateToString = (timeStamp: any) => {
      return date.formatDate(Number(timeStamp), 'MMM Do YYYY at HH:mm');
    };
    const state = reactive<{
      classCard: typeclassCard;
    }>({
      classCard: {
        action: 'card-action',
        basic: 'card-basic',
      },
    });

    return {
      ...toRefs(state),
      shape: ref('line'),
      formatdateToString,
    };
  },
});
</script>

<style lang="scss" scoped>
.block-channel {
  .block-right {
    .my-card {
      box-shadow: none;

      .q-card__section {
        padding: 0;
      }
    }

    .card-top {
      padding: 16px 24px;
      width: 100%;
      .commnent {
        flex-wrap: nowrap;
        .block-avatar {
          padding-right: 8px;
          img {
            width: 32px;
            height: 32px;
          }
        }

        .comment-right {
          width: 100%;
          .block-comment {
            background: #f8f8f8;
            border-radius: 4px;
            align-items: center;
            // width: calc(100% - 40px);
            padding: 8px;
            .block-comment__name {
              margin: 0;
              color: #2f2f2f;
              font-size: 14px;
              font-weight: 500;
              line-height: 20px;
            }
            .block-comment__content {
              color: #2f2f2f;
              font-size: 14px;
              line-height: 20px;
            }
          }

          .card-status {
            .status-left {
              display: flex;
              width: 180px;
              justify-content: inherit;
              .status-time {
                padding-top: 8px;
                font-size: 14px;
                color: #878b87;
              }

              .status-like,
              .status-reply {
                padding: 8px;
                font-size: 14px;
                font-weight: 500;
                color: #565656;
              }
            }
            .status-right {
              padding-top: 8px;
              .status-liked {
                color: #878b87;
                i {
                  color: #1c8c44;
                  font-size: 16px;
                }
              }
            }
          }
          .card-reply {
            padding-top: 8px;
            .reply {
              flex-wrap: nowrap;
              width: 100%;

              .reply-avatar {
                padding-right: 8px;
                img {
                  width: 32px;
                  height: 32px;
                }
              }

              .reply-right {
                width: 100%;

                .reply-comment {
                  background: #f8f8f8;
                  border-radius: 4px;
                  align-items: center;
                  // width: calc(100% - 40px);
                  padding: 8px;
                  .reply-comment__name {
                    margin: 0;
                    color: #2f2f2f;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 20px;
                    span {
                      color: #1e89e5;
                      font-size: 14px;
                      font-weight: 500;
                    }
                  }
                  .reply-comment__content {
                    color: #2f2f2f;
                    font-size: 14px;
                    line-height: 20px;
                  }
                }

                .reply-status {
                  .reply-left {
                    display: flex;
                    width: 180px;
                    justify-content: inherit;
                    .reply-time {
                      padding-top: 8px;
                      font-size: 14px;
                      color: #878b87;
                    }

                    .reply-like,
                    .reply-text {
                      padding: 8px;
                      font-size: 14px;
                      font-weight: 500;
                      color: #565656;
                    }
                  }
                  .reply-action {
                    padding-top: 8px;
                    .reply-liked {
                      color: #878b87;
                      i {
                        color: #1c8c44;
                        font-size: 16px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.card-action {
  color: #1c8c44;
}

.card-basic {
  color: #565656;
}
</style>
