<template>
  <q-card class="notify-card">
    <q-card-section class="column">
      <div class="logo row items-center">
        <img
          class="notify-logo"
          alt="logo"
          src="~assets/t-message/logo.svg"
        />
        <div class="notify-desc">TMessage</div>
        <!-- <c-btn
          class="notify-close"
          flat
          round
          dense
          @click="close = !close"
        >
          <template #default>
            <q-icon
              size="16px"
              name="bi-x-lg"
              style="color: #565656"
            />
          </template>
        </c-btn> -->
        <c-btn
          v-if="closeIcon"
          class="notify-close"
          flat
          round
          dense
          @click="$emit('close')"
        >
          <template #default>
            <q-icon
              size="16px"
              name="bi-x-lg"
              style="color: #565656"
            />
          </template>
        </c-btn>
      </div>
      <div class="notify-title">
        <span
          v-if="formNotify?.title?.firstContent !== ''"
          class="notify-title__firstcontent"
          >{{ formNotify?.title?.firstContent }}</span
        >
        <span class="notify-title__name">{{ formNotify?.title?.name }}</span>
        <span class="notify-title__lastcontent">{{
          formNotify?.title?.lastContent
        }}</span>
        <span class="notify-title__project">{{ formNotify?.title?.project }}</span>
        <span
          v-if="formNotify?.title?.date !== ''"
          class="notify-title__date"
          >{{ formatdateToString(formNotify?.title?.date) }}</span
        >
      </div>
      <div class="card-content">
        <div class="notify-content">
          {{ formNotify?.content }}
        </div>
      </div>
      <a class="notify-open flex justify-center"><i class="bi bi-arrow-right"></i>Open</a>
    </q-card-section>
  </q-card>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { date } from 'quasar';

export default defineComponent({
  name: 'CNotify',
  props: {
    formNotify: {
      type: Object,
      default() {
        return {};
      },
    },
    closeIcon: {
      type: Boolean,
      default: true,
    },
  },
  setup() {
    const formatdateToString = (timeStamp: any) => {
      return date.formatDate(Number(timeStamp), 'HH:mm, MMM Do YYYY');
    };
    return {
      close: false,
      formatdateToString,
    };
  },
});
</script>
<style lang="scss" scoped>
.notify-card {
  width: 464px;

  .logo {
    position: relative;
    padding-top: 8px;
    .notify-logo {
      width: 24px;
      height: 24px;
      padding-right: 4px;
    }

    .notify-desc {
      color: #565656;
      font-size: 12px;
      line-height: 16px;
    }

    .notify-close {
      position: absolute;
      font-size: 16px;
      right: -12px;
      top: -16px;
      cursor: pointer;
    }
  }

  .notify-title {
    font-size: 16px;
    line-height: 24px;
    color: #2f2f2f;
    padding: 8px 0;

    .notify-title__firstcontent {
      padding-right: 5px;
    }
    .notify-title__name {
      font-weight: 500;
      padding-right: 5px;
    }
    .notify-title__project {
      font-weight: 500;
    }
    .notify-title__date {
      font-weight: 500;
      padding-left: 5px;
    }
  }

  .card-content {
    padding: 8px;
    background: #f8f8f8;
    border-radius: 4px;

    .notify-content {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: #2f2f2f;
    }
  }

  .notify-open {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #1c8c44;
    padding: 20px 0 8px;
    cursor: pointer;
    i {
      padding-right: 7px;
      font-size: 16px;
    }
  }
}
</style>
