<template>
  <q-btn flat>
    <div class="card-left">
      <CAvatar class="avatar-people" />
      <span class="name-people">{{ formPeople?.name }}</span>
    </div>
    <div class="card-right">
      <span
        class="status-people"
        v-if="formPeople?.add?.status === 'yes'"
        >{{ formPeople?.add?.content }}</span
      >
    </div>
  </q-btn>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import CAvatar from 'src/components/common/CAvatar.vue';

export default defineComponent({
  name: 'CPeople',
  components: {
    CAvatar,
  },
  props: {
    formPeople: {
      type: Object,
      default() {
        return {};
      },
    },
  },
  setup() {
    return {
      //   ...toRefs(state),
      shape: ref('line'),
    };
  },
});
</script>

<style lang="scss" scoped>
.q-btn:hover {
  background: #e9eae8;
}
:deep(.q-focus-helper) {
  background: #fff !important;
  opacity: 1 !important;
}

:deep(.q-btn__content) {
  display: flex;
  justify-content: space-between;
  padding: 8px;

  .card-left {
    .avatar-people {
      width: 32px;
      height: 32px;
    }

    .name-people {
      padding: 0 8px;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      color: #2f2f2f;
      text-transform: none;
    }
  }

  .card-right {
    .status-people {
      color: #878b87;
      font-weight: 400;
      font-size: 14px;
      text-transform: none;
    }
  }
}
</style>
