<template>
  <q-select
    v-bind="$attrs"
    :options="options"
    :label="label"
    behavior="menu"
    :menu-offset="[0, 6]"
  >
    <template
      v-for="(_, dynamicSlotName) in $slots"
      #[dynamicSlotName]="slotData"
    >
      <slot
        v-if="$slots[dynamicSlotName]"
        :name="dynamicSlotName"
        v-bind="slotData"
      />
    </template>
  </q-select>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';

export default defineComponent({
  props: {
    defaultOptions: {
      type: Array,
      default() {
        return [
          // {
          //   label: 'label',
          //   value: 'value'
          // },
        ];
      },
    },
    filterOptions: {
      type: Function,
      default() {
        return null;
      },
    },
    filterOnline: {
      type: Boolean,
      default: false,
    },
    label: {
      type: String,
      default: '',
    },
  },
  emits: ['filter'],
  name: 'CSelect',
  setup(props, { emit }) {
    const options = ref(props.defaultOptions);

    const filterFn = (val: any, update: any) => {
      if (props.filterOnline) {
        emit('filter', val);
        return;
      }
      if (props.filterOptions) {
        return props.filterOptions;
      }
      if (val === '') {
        update(() => {
          options.value = [...props.defaultOptions];
          // here you have access to "ref" which
          // is the Vue reference of the QSelect
        });
        return;
      }

      update(() => {
        const needle = val.toLowerCase();
        options.value = props.defaultOptions.filter((v: any) => {
          return v.label.toLowerCase().indexOf(needle) > -1;
        });
      });
    };
    // watch(() => {
    //
    // })
    return {
      // model: ref(null),
      options,
      filterFn,
      // options: [
      //   'Google', 'Facebook', 'Twitter', 'Apple', 'Oracle'
      // ],
    };
  },
});
</script>

<style scoped lang="scss">
:deep(.q-field) {
  .q-field__control {
    &:before {
      border: 1px solid #d3d3d3;
      border-radius: 4px;
    }

    &:hover:before {
      border-color: $primary;
    }

    &:after {
      border-width: 1px !important;
    }
  }

  .q-field__label {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}

:deep(.q-field--disabled) {
  .q-field {
    &__control {
      &:before {
        border: 1px solid #d3d3d3;
      }

      &-container {
        opacity: 1 !important;

        input {
          color: #878b87;
        }
      }
    }

    &__label {
      color: #878b87;
    }
  }
}
</style>
