<template>
  <c-text-field
    type="textarea"
    class="c-text-area"
    :maxlength="maxLength"
    :counter="isShowCounter"
    v-bind="$attrs"
  >
    <slot />
  </c-text-field>
</template>

<script lang="ts" setup>
import { computed } from 'vue';

enum EEmitFunc {
  UPDATE_VALUE = 'update:modelValue',
}

const emits = defineEmits<{ (e: EEmitFunc, value?: any): void }>();

interface IProps {
  height: string;
  maxLength: string;
}

const props = withDefaults(defineProps<IProps>(), {
  modelValue: '',
  height: '108',
});

const heightValue = computed(() => props.height + 'px');

const isShowCounter = computed(() => !!props.maxLength);
</script>

<style lang="scss" scoped>
.c-text-area {
  ::v-deep(.q-field__control) {
    height: v-bind(heightValue);
  }
}
</style>
