<template>
  <div>
    <slot
      name="action"
      v-bind="{ handleUpload }"
    />
    <q-file
      style="display: none"
      v-model="model"
      v-bind="{ ...$attrs }"
      :multiple="multiple"
      :max-file-size="maxFileSize"
      :filter="(files) => files.filter((file) => file.size <= maxFileSize)"
      ref="fileInput"
    >
      <template v-slot:prepend>
        <q-icon
          style="align-items: center"
          name="bi-cloud-upload"
          size="16px"
        ></q-icon>
      </template>
    </q-file>
  </div>
</template>

<script lang="ts">
import { defineComponent, watch, ref } from 'vue';
import FileService from 'src/services/file';
import NotifyServices from 'src/plugins/NotifyServices';
export default defineComponent({
  name: 'UploadFile',

  props: {
    defaultFile: {
      type: [Array, String],
      default() {
        return null;
      },
    },
    maxFileSize: {
      type: Number,
      default: 25 * 1014 * 1014,
      //  = 25mb
    },
    multiple: {
      type: Boolean,
      default: false,
    },
  },
  emits: ['get-file', 'get-file-before'],
  setup(props, { emit }) {
    // const state = reactive<{
    //   model: any;
    // }>({
    //   model: null,
    // });

    const model: any = ref(null);
    const fileInput = ref();
    const handleUpload = () => {
      fileInput.value.pickFiles();
    };
    // const getDefaultFile = computed(() => {
    //   return props.defaultFile;
    // });
    // watch(getDefaultFile, (val) => {
    //   if (val) {
    //     model.value = val;
    //   }
    // });

    const removeFile = () => {
      emit('get-file', null);
    };
    const upFile = (e: any) => {
      // model.value = null
      fileInput.value.blur();
      let payload: any = new FormData();
      if (props.multiple) {
        for (let i = 0; i < e.length; i++) {
          payload.append('files', e[i]);
        }
      } else {
        payload.set('files', e);
      }
      console.log('get-file', e);
      emit('get-file-before', e);
      FileService.uploadFile(payload)
        .then((res: any) => {
          console.log(res);
          if (res?.status_code === 200) {
            emit('get-file', res?.data);
          } else {
            removeFile();
            NotifyServices.showMessageError(res?.errors.message);
          }
        })
        .catch((err) => {
          removeFile();
          NotifyServices.showMessageError(err?.message);
        });
    };
    watch(model, (val) => {
      console.log(val);
      if (val) {
        upFile(val);
      }
    });

    return {
      // ...toRefs(state),
      fileInput,
      model,
      upFile,
      handleUpload,
    };
  },
});
</script>

<!--<style scoped lang="scss">-->

<!--</style>-->
