<template>
  <CModal
    v-model="IsShowModalInvite"
    classModal="modal-invite"
    @close="closeModal"
  >
    <template #title>
      <div class="text-h4 text-header">
        <span class="text-header-title">{{ title }}</span>
        <span class="text-header-name">{{ detailWorkspace?.name || '' }}</span>
      </div>
    </template>
    <div class="modal-invite-body">
      <CSelect
        ref="refSelected"
        v-model="selectedMember"
        label="To (name@email.com)"
        input-debounce="0"
        :error-message="errorEmail"
        :error="errorSelected && !!errorEmail"
        multiple
        use-input
        outlined
        hide-dropdown-icon
        @new-value="createValue"
      >
        <template #selected-item="{ opt, index }">
          <q-chip
            size="12px"
            style="background: #e9eae8"
            square
            removable
            @remove="removeAtIndexSelected(index)"
            >{{ opt }}</q-chip
          >
        </template>
      </CSelect>
    </div>
    <template #footer>
      <c-btn
        color="primary"
        size="large"
        label="Send"
        :loading="loading"
        :disabled="!selectedMember?.length"
        @click="sendEmailInvite"
      />
    </template>
  </CModal>
</template>

<script lang="ts">
import { defineComponent, computed, ref, reactive, toRefs } from 'vue';
import { useWorkspaceStore } from 'stores/workspace';
import { useRoute } from 'vue-router';
import CModal from 'components/common/CModal.vue';
import { checkEmail } from 'src/helper/validForm';
import { useI18n } from 'vue-i18n';
import WorkspaceService from 'src/services/workspace';
import NotifyServices from 'src/plugins/NotifyServices';
export default defineComponent({
  name: 'modalInvite',
  components: { CModal },
  setup() {
    const state = reactive<{
      title: string;
      selectedMember: any;
      errorEmail: string;
      errorSelected: boolean;
      loading: boolean;
    }>({
      title: 'Invite people to ',
      selectedMember: null,
      errorEmail: '',
      errorSelected: false,
      loading: false,
    });
    const route = useRoute();
    const { t } = useI18n();
    const refSelected = ref();
    const workspaceStore = useWorkspaceStore();
    const detailWorkspace = computed(() => {
      return workspaceStore.detailWorkspace;
    });
    const IsShowModalInvite = computed(() => {
      return workspaceStore.IsShowModalInvite;
    });

    const createValue = (val: any, done: any) => {
      if (val.length > 0) {
        const modelValue = (state.selectedMember || []).slice();
        state.errorSelected = false;
        val
          .split(/[,;|]+/)
          .map((v: any) => v.trim())
          .filter((v: any) => v.length > 0)
          .forEach((v: any) => {
            if (modelValue.includes(v) === false) {
              if (checkEmail(v)) {
                modelValue.push(v);
                state.errorEmail = '';
              } else {
                state.errorSelected = true;
                state.errorEmail = t('valid.email');
              }
            }
          });
        done(val, 'add-unique');
        state.selectedMember = modelValue;
      }
    };
    const sendEmailInvite = () => {
      state.loading = true;
      WorkspaceService.inviteWorkspace({
        emails: [...state.selectedMember],
        workspace_id: Number(detailWorkspace.value.id),
      })
        .then((res: any) => {
          console.log(res);
          if (res?.status_code === 200) {
            NotifyServices.showMessageSuccess(t('workspace.notify.invitePeopleSuccess'));
            closeModal();
            // emit('get-file', res?.data);
          } else {
            NotifyServices.showMessageError(res?.errors.message);
          }
        })
        .catch((err) => {
          console.log('err', err);
          NotifyServices.showMessageError(t('workspace.notify.invitePeopleFailed'));
        })
        .finally(() => {
          state.loading = false;
        });
    };
    const removeAtIndexSelected = (index: number | string) => {
      if (index >= 0) state.selectedMember.splice(index, 1);
      // refSelected.value.removeAtIndex(index)
    };
    const closeModal = () => {
      workspaceStore.showModalInvite(false);
    };
    return {
      ...toRefs(state),
      refSelected,
      detailWorkspace,
      IsShowModalInvite,
      closeModal,
      createValue,
      removeAtIndexSelected,
      sendEmailInvite,
    };
  },
});
</script>

<style scoped lang="scss"></style>
