<template>
  <q-layout view="lHh lpr lFf">
    <q-header
      bordered
      class="bg-white"
    >
      <q-toolbar class="top-bar">
        <div class="flex justify-between items-center full-width">
          <div class="top-search">
            <c-text-field
              placeholder="What are you looking for?"
              prepend-icon="bi-search"
            >
              <template #append>
                <q-icon name="bi-filter" />
              </template>
            </c-text-field>
          </div>
          <q-space />
          <div>
            <CAvatar
              size="56px"
              :avatar="infoUser?.avatar"
              :text="
                infoUser?.full_name?.split('')[0] || infoUser?.email?.split('')[0] || ''
              "
            />
          </div>
        </div>
      </q-toolbar>
    </q-header>

    <q-drawer
      show-if-above
      v-model="leftDrawerOpen"
      side="left"
      class="menu-bar"
      :width="352"
    >
      <div class="item-left-bar">
        <q-item>
          <q-item-section>
            <q-item-label class="item-left-bar-name">
              <span class="text-truncate">{{ detailWorkspace?.name || '' }} </span>
              <q-icon
                name="bi-caret-down-fill"
                size="16px"
              ></q-icon>
            </q-item-label>
            <menuInfoWorkspace />
          </q-item-section>
          <q-item-side>
            <c-btn
              color="primary"
              round
            >
              <template #default>
                <q-icon
                  size="40px"
                  name="bi-plus"
                />
              </template>
            </c-btn>
          </q-item-side>
        </q-item>
      </div>

      <!--      <q-scroll-area class="fit">-->
      <!--      <q-separator-->
      <!--        color="#E9EAE8"-->
      <!--        class=""-->
      <!--      />-->
      <q-list>
        <template
          v-for="(menuItem, index) in menu"
          :key="index"
        >
          <q-item v-if="menuItem?.dynamicRouter">
            <q-item-section>
              <q-expansion-item
                :default-opened="menuItem.name === $route.name"
                expand-icon="bi-caret-up-fill"
                expanded-icon="bi-caret-down-fill"
                expand-icon-toggle
                expand-icon-class="expandIcon"
              >
                <template v-slot:header>
                  <q-item-section avatar>
                    <q-icon
                      size="16px"
                      :name="`bi-${menuItem.icon}`"
                    />
                  </q-item-section>
                  <q-item-section>
                    {{ menuItem.title }}
                  </q-item-section>
                </template>
                <q-item
                  v-for="(itemChildren, indexChildren) in menuItem.children"
                  :key="indexChildren"
                  clickable
                  :active="menuItem.name === $route.name"
                  active-class="active-item"
                  v-ripple
                  :to="{
                    name: menuItem.name,
                    params: {
                      [itemChildren.params]: itemChildren.id,
                    },
                  }"
                >
                  <q-item-section
                    avatar
                    v-if="itemChildren.params !== 'memberId'"
                  >
                    <span class="icon-children">#</span>
                  </q-item-section>
                  <q-item-section>
                    {{ itemChildren.name }}
                  </q-item-section>
                </q-item>
              </q-expansion-item>
            </q-item-section>

            <q-item-section
              side
              top
            >
              <c-btn
                color="white"
                round
                size="small"
              >
                <template #default>
                  <q-icon
                    size="24px"
                    name="bi-plus"
                    color="primary"
                    @click="actionMenu(menuItem.name)"
                  />
                </template>
              </c-btn>
            </q-item-section>
          </q-item>
          <q-item
            v-if="!menuItem?.dynamicRouter"
            clickable
            :active="menuItem.name === $route.name"
            class="q-item-single"
            active-class="active-item"
            v-ripple
            :to="{ name: menuItem.name }"
          >
            <q-item-section avatar>
              <q-icon
                size="16px"
                :name="`bi-${menuItem.icon}`"
              />
            </q-item-section>
            <q-item-section>
              {{ menuItem.title }}
            </q-item-section>
          </q-item>
          <q-separator
            color="#E9EAE8"
            :key="index"
            v-if="menuItem.separator"
          />
        </template>
      </q-list>
      <!--      </q-scroll-area>-->
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
  <modalInvite />
  <modalCreateChannel />
</template>

<script lang="ts">
import { defineComponent, reactive, ref, computed } from 'vue';
import routesWorkspace from 'src/router/workspace';
import { useMainStore } from 'stores/main';
import { useWorkspaceStore } from 'stores/workspace';
import { useChannelStore } from 'stores/channel';
import { useRoute, useRouter } from 'vue-router';
import menuInfoWorkspace from 'components/layouts/menuInfoWorkspace.vue';
import modalInvite from 'components/people/modalInvite.vue';
import modalCreateChannel from 'components/channel/modalCreateChannel.vue';
import CAvatar from 'components/common/CAvatar.vue';
export default defineComponent({
  name: 'LayoutWorkSpace',
  components: { CAvatar, menuInfoWorkspace, modalInvite, modalCreateChannel },
  setup() {
    const leftDrawerOpen = ref(false);
    const state = reactive<{
      listRoutesWorkspace: any;
    }>({
      listRoutesWorkspace: routesWorkspace[0].children,
    });
    const route = useRoute();
    const router = useRouter();

    const workspaceStore = useWorkspaceStore();
    const channelStore = useChannelStore();
    const getDetailWorkspace = () => {
      if (!route?.params?.workspaceId) return;
      workspaceStore
        .getDetailWorkspace(`${route.params.workspaceId}`)
        .then((res) => {
          console.log(res);
        })
        .catch((err) => {
          console.log(err);
          if (err.status_code === 404) {
            router.push({
              name: 'home',
            });
          }
        });
      channelStore.getChannelInWs(`${route.params.workspaceId}`);
    };
    const detailWorkspace = computed(() => {
      return workspaceStore.detailWorkspace;
    });
    getDetailWorkspace();
    const mainStore = useMainStore();
    const infoUser = computed(() => {
      return mainStore.getUser;
    });

    const menu = computed(() => {
      let listMenu: any = [];
      state.listRoutesWorkspace.filter((item: any, index: number) => {
        if (index > 0) {
          const itemMenu: any = {
            ...item.meta,
            name: item.name,
          };
          if (itemMenu.type === 'channel') {
            itemMenu.children = [...channelStore.listChannel];
          }
          if (itemMenu.type === 'onToOne') {
            itemMenu.children = [...channelStore.listOneToOne];
          }
          listMenu.push(itemMenu);
        }
        // [...]
        return;
      });
      return listMenu;
    });
    const actionMenu = (name: string) => {
      console.log(name);
      if (name === 'channel-detail') {
        channelStore.showModalAddChannel(true);
      }
      if (name === 'one-to-one') {
        channelStore.showModalAddChannel(true);
      }
    };
    console.log(menu.value);

    return {
      // ...toRefs(state),
      menu,
      leftDrawerOpen,
      infoUser,
      detailWorkspace,
      actionMenu,
    };
  },
});
</script>

<style lang="scss" scoped>
@import 'src/css/main.scss';

:deep(.menu-bar) {
  background: #f8f8f8;
  min-width: 352px;
  color: #3c3c3c;
  font-weight: 400;
  font-size: 16px;

  .item-left-bar {
    min-height: 96px;
    width: 100%;
    padding: 28px 20px 27px 32px;
    position: fixed;
    z-index: 1000;
    border-bottom: solid 1px #e9eae8;

    &-name {
      color: #2f2f2f;
      font-weight: 500;
      font-size: 20px;
      line-height: 28px !important;
      padding-right: 8px;
      display: flex;

      span {
        margin-right: 6px;
        display: block;
      }

      i {
        margin-top: 6px;
      }
    }

    .q-item {
      padding: 0;
      min-height: 19px;
    }
  }

  .q-item {
    cursor: pointer;
  }

  .q-list {
    padding: 16px;
    margin-top: 96px;

    .q-item.q-item-single:hover {
      @extend .active-item;
    }

    .q-expansion-item {
      &__container {
        max-width: 160px;

        .q-item__section--main {
          width: fit-content;
          max-width: max-content;
        }
      }

      .q-item {
        padding: 0;
      }

      .q-item:hover {
        @extend .active-item;
      }
    }

    .q-item__section--side {
      padding-left: 12px;
    }
    .q-item__section--top {
      padding-top: 8px;
      padding-left: 0;
    }

    .q-item__section--avatar {
      min-width: 26px;
    }
  }
  .icon-children {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #3c3c3c;
  }
  .expandIcon {
    .q-icon {
      font-size: 16px;
    }
    //i {
    //  font-size: 16px;
    //}
  }
}

.top-bar {
  padding: 17px 30px;

  :deep(.top-search) {
    min-width: 654px;

    .q-field__control {
      height: 40px;
    }

    .q-field__marginal {
      height: 40px;
    }

    .q-field__bottom {
      padding: 0;
    }

    .q-field--with-bottom {
      padding: 0;
    }

    .q-icon {
      font-size: 24px;
      color: #565656;
    }
  }

  img {
    width: 56px;
    height: 56px;
  }
}
</style>
